<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alertaTipo">
            <h2><span jhiTranslate="nucleoApp.alertaTipo.detail.title">Alerta Tipo</span> {{ alertaTipo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.alertaTipo.nome">Nome</span></dt>
                <dd>
                    <span>{{ alertaTipo.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.alertaTipo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ alertaTipo.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.alertaTipo.created">Created</span></dt>
                <dd>
                    <span>{{ alertaTipo.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.alertaTipo.updated">Updated</span></dt>
                <dd>
                    <span>{{ alertaTipo.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alerta-tipo', alertaTipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
