<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planoRede">
            <h2><span jhiTranslate="nucleoApp.planoRede.detail.title">Plano Rede</span> {{ planoRede.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.planoRede.name">Name</span></dt>
                <dd>
                    <span>{{ planoRede.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.planoRede.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ planoRede.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.planoRede.created">Created</span></dt>
                <dd>
                    <span>{{ planoRede.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.planoRede.updated">Updated</span></dt>
                <dd>
                    <span>{{ planoRede.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.planoRede.plano">Plano</span></dt>
                <dd>
                    <div *ngIf="planoRede.planoId">
                        <a [routerLink]="['/plano', planoRede.planoId, 'view']">{{ planoRede.planoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.planoRede.rede">Rede</span></dt>
                <dd>
                    <div *ngIf="planoRede.redeId">
                        <a [routerLink]="['/rede', planoRede.redeId, 'view']">{{ planoRede.redeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano-rede', planoRede.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
