<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boletimPrevVariavelMet">
            <h2><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.detail.title">Boletim Prev Variavel Met</span> {{ boletimPrevVariavelMet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.nome">Nome</span></dt>
                <dd>
                    <span>{{ boletimPrevVariavelMet.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ boletimPrevVariavelMet.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.created">Created</span></dt>
                <dd>
                    <span>{{ boletimPrevVariavelMet.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.updated">Updated</span></dt>
                <dd>
                    <span>{{ boletimPrevVariavelMet.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.boletimPrevisao">Boletim Previsao</span></dt>
                <dd>
                    <div *ngIf="boletimPrevVariavelMet.boletimPrevisaoId">
                        <a [routerLink]="['/boletim-previsao', boletimPrevVariavelMet.boletimPrevisaoId, 'view']">{{ boletimPrevVariavelMet.boletimPrevisaoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevVariavelMet.variavelMeteorologica">Variavel Meteorologica</span></dt>
                <dd>
                    <div *ngIf="boletimPrevVariavelMet.variavelMeteorologicaId">
                        <a [routerLink]="['/variavel-meteorologica', boletimPrevVariavelMet.variavelMeteorologicaId, 'view']">{{ boletimPrevVariavelMet.variavelMeteorologicaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/boletim-prev-variavel-met', boletimPrevVariavelMet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
