<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-boletim-prev-variavel-met-heading" jhiTranslate="nucleoApp.boletimPrevVariavelMet.home.createOrEditLabel">Create or edit a Boletim Prev Variavel Met</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevVariavelMet.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevVariavelMet.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevVariavelMet.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevVariavelMet.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevVariavelMet.boletimPrevisao" for="field_boletimPrevisao">Boletim Previsao</label>
                    <select class="form-control" id="field_boletimPrevisao" name="boletimPrevisao" formControlName="boletimPrevisaoId">
                        <option *ngIf="!editForm.get('boletimPrevisaoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="boletimPrevisaoOption.id" *ngFor="let boletimPrevisaoOption of boletimprevisaos; trackBy: trackById">{{ boletimPrevisaoOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('boletimPrevisaoId')!.invalid && (editForm.get('boletimPrevisaoId')!.dirty || editForm.get('boletimPrevisaoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('boletimPrevisaoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevVariavelMet.variavelMeteorologica" for="field_variavelMeteorologica">Variavel Meteorologica</label>
                    <select class="form-control" id="field_variavelMeteorologica" name="variavelMeteorologica" formControlName="variavelMeteorologicaId">
                        <option *ngIf="!editForm.get('variavelMeteorologicaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="variavelMeteorologicaOption.id" *ngFor="let variavelMeteorologicaOption of variavelmeteorologicas; trackBy: trackById">{{ variavelMeteorologicaOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('variavelMeteorologicaId')!.invalid && (editForm.get('variavelMeteorologicaId')!.dirty || editForm.get('variavelMeteorologicaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('variavelMeteorologicaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
