<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-previsao-heading" jhiTranslate="nucleoApp.previsao.home.createOrEditLabel">Create or edit a Previsao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoNorte" for="field_textoNorte">Texto Norte</label>
                    <input type="text" class="form-control" name="textoNorte" id="field_textoNorte"
                           formControlName="textoNorte"/>
                    <div *ngIf="editForm.get('textoNorte')!.invalid && (editForm.get('textoNorte')!.dirty || editForm.get('textoNorte')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoNorte')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoNorteImagem" for="field_textoNorteImagem">Texto Norte Imagem</label>
                    <input type="text" class="form-control" name="textoNorteImagem" id="field_textoNorteImagem"
                           formControlName="textoNorteImagem"/>
                    <div *ngIf="editForm.get('textoNorteImagem')!.invalid && (editForm.get('textoNorteImagem')!.dirty || editForm.get('textoNorteImagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoNorteImagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoNordeste" for="field_textoNordeste">Texto Nordeste</label>
                    <input type="text" class="form-control" name="textoNordeste" id="field_textoNordeste"
                           formControlName="textoNordeste"/>
                    <div *ngIf="editForm.get('textoNordeste')!.invalid && (editForm.get('textoNordeste')!.dirty || editForm.get('textoNordeste')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoNordeste')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoNordesteImagem" for="field_textoNordesteImagem">Texto Nordeste Imagem</label>
                    <input type="text" class="form-control" name="textoNordesteImagem" id="field_textoNordesteImagem"
                           formControlName="textoNordesteImagem"/>
                    <div *ngIf="editForm.get('textoNordesteImagem')!.invalid && (editForm.get('textoNordesteImagem')!.dirty || editForm.get('textoNordesteImagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoNordesteImagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoSul" for="field_textoSul">Texto Sul</label>
                    <input type="text" class="form-control" name="textoSul" id="field_textoSul"
                           formControlName="textoSul"/>
                    <div *ngIf="editForm.get('textoSul')!.invalid && (editForm.get('textoSul')!.dirty || editForm.get('textoSul')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoSul')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoSulImagem" for="field_textoSulImagem">Texto Sul Imagem</label>
                    <input type="text" class="form-control" name="textoSulImagem" id="field_textoSulImagem"
                           formControlName="textoSulImagem"/>
                    <div *ngIf="editForm.get('textoSulImagem')!.invalid && (editForm.get('textoSulImagem')!.dirty || editForm.get('textoSulImagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoSulImagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoSudeste" for="field_textoSudeste">Texto Sudeste</label>
                    <input type="text" class="form-control" name="textoSudeste" id="field_textoSudeste"
                           formControlName="textoSudeste"/>
                    <div *ngIf="editForm.get('textoSudeste')!.invalid && (editForm.get('textoSudeste')!.dirty || editForm.get('textoSudeste')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoSudeste')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoSudesteImagem" for="field_textoSudesteImagem">Texto Sudeste Imagem</label>
                    <input type="text" class="form-control" name="textoSudesteImagem" id="field_textoSudesteImagem"
                           formControlName="textoSudesteImagem"/>
                    <div *ngIf="editForm.get('textoSudesteImagem')!.invalid && (editForm.get('textoSudesteImagem')!.dirty || editForm.get('textoSudesteImagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoSudesteImagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoCentroOeste" for="field_textoCentroOeste">Texto Centro Oeste</label>
                    <input type="text" class="form-control" name="textoCentroOeste" id="field_textoCentroOeste"
                           formControlName="textoCentroOeste"/>
                    <div *ngIf="editForm.get('textoCentroOeste')!.invalid && (editForm.get('textoCentroOeste')!.dirty || editForm.get('textoCentroOeste')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoCentroOeste')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoCentroOesteImagem" for="field_textoCentroOesteImagem">Texto Centro Oeste Imagem</label>
                    <input type="text" class="form-control" name="textoCentroOesteImagem" id="field_textoCentroOesteImagem"
                           formControlName="textoCentroOesteImagem"/>
                    <div *ngIf="editForm.get('textoCentroOesteImagem')!.invalid && (editForm.get('textoCentroOesteImagem')!.dirty || editForm.get('textoCentroOesteImagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoCentroOesteImagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.enviado" for="field_enviado">Enviado</label>
                    <input type="checkbox" class="form-control" name="enviado" id="field_enviado"
                           formControlName="enviado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoBrasil" for="field_textoBrasil">Texto Brasil</label>
                    <input type="text" class="form-control" name="textoBrasil" id="field_textoBrasil"
                           formControlName="textoBrasil"/>
                    <div *ngIf="editForm.get('textoBrasil')!.invalid && (editForm.get('textoBrasil')!.dirty || editForm.get('textoBrasil')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoBrasil')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.textoBrasilImagem" for="field_textoBrasilImagem">Texto Brasil Imagem</label>
                    <input type="text" class="form-control" name="textoBrasilImagem" id="field_textoBrasilImagem"
                           formControlName="textoBrasilImagem"/>
                    <div *ngIf="editForm.get('textoBrasilImagem')!.invalid && (editForm.get('textoBrasilImagem')!.dirty || editForm.get('textoBrasilImagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('textoBrasilImagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.previsao.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
