<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.previsao.home.title">Previsaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-previsao" [routerLink]="['/previsao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.previsao.home.createLabel">
            Create a new Previsao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="previsaos?.length === 0">
        <span jhiTranslate="nucleoApp.previsao.home.notFound">No previsaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="previsaos && previsaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.previsao.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.previsao.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoNorte"><span jhiTranslate="nucleoApp.previsao.textoNorte">Texto Norte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoNorteImagem"><span jhiTranslate="nucleoApp.previsao.textoNorteImagem">Texto Norte Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoNordeste"><span jhiTranslate="nucleoApp.previsao.textoNordeste">Texto Nordeste</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoNordesteImagem"><span jhiTranslate="nucleoApp.previsao.textoNordesteImagem">Texto Nordeste Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoSul"><span jhiTranslate="nucleoApp.previsao.textoSul">Texto Sul</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoSulImagem"><span jhiTranslate="nucleoApp.previsao.textoSulImagem">Texto Sul Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoSudeste"><span jhiTranslate="nucleoApp.previsao.textoSudeste">Texto Sudeste</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoSudesteImagem"><span jhiTranslate="nucleoApp.previsao.textoSudesteImagem">Texto Sudeste Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoCentroOeste"><span jhiTranslate="nucleoApp.previsao.textoCentroOeste">Texto Centro Oeste</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoCentroOesteImagem"><span jhiTranslate="nucleoApp.previsao.textoCentroOesteImagem">Texto Centro Oeste Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enviado"><span jhiTranslate="nucleoApp.previsao.enviado">Enviado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoBrasil"><span jhiTranslate="nucleoApp.previsao.textoBrasil">Texto Brasil</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoBrasilImagem"><span jhiTranslate="nucleoApp.previsao.textoBrasilImagem">Texto Brasil Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.previsao.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.previsao.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let previsao of previsaos ;trackBy: trackId">
                    <td><a [routerLink]="['/previsao', previsao.id, 'view']">{{ previsao.id }}</a></td>
                    <td>{{ previsao.name }}</td>
                    <td>{{ previsao.descricao }}</td>
                    <td>{{ previsao.textoNorte }}</td>
                    <td>{{ previsao.textoNorteImagem }}</td>
                    <td>{{ previsao.textoNordeste }}</td>
                    <td>{{ previsao.textoNordesteImagem }}</td>
                    <td>{{ previsao.textoSul }}</td>
                    <td>{{ previsao.textoSulImagem }}</td>
                    <td>{{ previsao.textoSudeste }}</td>
                    <td>{{ previsao.textoSudesteImagem }}</td>
                    <td>{{ previsao.textoCentroOeste }}</td>
                    <td>{{ previsao.textoCentroOesteImagem }}</td>
                    <td>{{ previsao.enviado }}</td>
                    <td>{{ previsao.textoBrasil }}</td>
                    <td>{{ previsao.textoBrasilImagem }}</td>
                    <td>{{ previsao.created | date:'medium' }}</td>
                    <td>{{ previsao.updated | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/previsao', previsao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/previsao', previsao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(previsao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="previsaos && previsaos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
