<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="previsao">
            <h2><span jhiTranslate="nucleoApp.previsao.detail.title">Previsao</span> {{ previsao.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.previsao.name">Name</span></dt>
                <dd>
                    <span>{{ previsao.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ previsao.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoNorte">Texto Norte</span></dt>
                <dd>
                    <span>{{ previsao.textoNorte }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoNorteImagem">Texto Norte Imagem</span></dt>
                <dd>
                    <span>{{ previsao.textoNorteImagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoNordeste">Texto Nordeste</span></dt>
                <dd>
                    <span>{{ previsao.textoNordeste }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoNordesteImagem">Texto Nordeste Imagem</span></dt>
                <dd>
                    <span>{{ previsao.textoNordesteImagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoSul">Texto Sul</span></dt>
                <dd>
                    <span>{{ previsao.textoSul }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoSulImagem">Texto Sul Imagem</span></dt>
                <dd>
                    <span>{{ previsao.textoSulImagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoSudeste">Texto Sudeste</span></dt>
                <dd>
                    <span>{{ previsao.textoSudeste }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoSudesteImagem">Texto Sudeste Imagem</span></dt>
                <dd>
                    <span>{{ previsao.textoSudesteImagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoCentroOeste">Texto Centro Oeste</span></dt>
                <dd>
                    <span>{{ previsao.textoCentroOeste }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoCentroOesteImagem">Texto Centro Oeste Imagem</span></dt>
                <dd>
                    <span>{{ previsao.textoCentroOesteImagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.enviado">Enviado</span></dt>
                <dd>
                    <span>{{ previsao.enviado }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoBrasil">Texto Brasil</span></dt>
                <dd>
                    <span>{{ previsao.textoBrasil }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.textoBrasilImagem">Texto Brasil Imagem</span></dt>
                <dd>
                    <span>{{ previsao.textoBrasilImagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.created">Created</span></dt>
                <dd>
                    <span>{{ previsao.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.previsao.updated">Updated</span></dt>
                <dd>
                    <span>{{ previsao.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/previsao', previsao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
