<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.descarga.home.title">Descargas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-descarga" [routerLink]="['/descarga/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.descarga.home.createLabel">
            Create a new Descarga
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="descargas?.length === 0">
        <span jhiTranslate="nucleoApp.descarga.home.notFound">No descargas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="descargas && descargas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.descarga.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.descarga.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qtd"><span jhiTranslate="nucleoApp.descarga.qtd">Qtd</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataPrimeiraDescarga"><span jhiTranslate="nucleoApp.descarga.dataPrimeiraDescarga">Data Primeira Descarga</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempoAntecipacao"><span jhiTranslate="nucleoApp.descarga.tempoAntecipacao">Tempo Antecipacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.descarga.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.descarga.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="redeId"><span jhiTranslate="nucleoApp.descarga.rede">Rede</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descargaTipoId"><span jhiTranslate="nucleoApp.descarga.descargaTipo">Descarga Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descargaUnidadeId"><span jhiTranslate="nucleoApp.descarga.descargaUnidade">Descarga Unidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alertaId"><span jhiTranslate="nucleoApp.descarga.alerta">Alerta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let descarga of descargas ;trackBy: trackId">
                    <td><a [routerLink]="['/descarga', descarga.id, 'view']">{{ descarga.id }}</a></td>
                    <td>{{ descarga.nome }}</td>
                    <td>{{ descarga.descricao }}</td>
                    <td>{{ descarga.qtd }}</td>
                    <td>{{ descarga.dataPrimeiraDescarga | date:'medium' }}</td>
                    <td>{{ descarga.tempoAntecipacao }}</td>
                    <td>{{ descarga.created | date:'medium' }}</td>
                    <td>{{ descarga.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="descarga.redeId">
                            <a [routerLink]="['/rede', descarga.redeId , 'view']" >{{ descarga.redeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="descarga.descargaTipoId">
                            <a [routerLink]="['/descarga-tipo', descarga.descargaTipoId , 'view']" >{{ descarga.descargaTipoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="descarga.descargaUnidadeId">
                            <a [routerLink]="['/descarga-unidade', descarga.descargaUnidadeId , 'view']" >{{ descarga.descargaUnidadeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="descarga.alertaId">
                            <a [routerLink]="['/alerta', descarga.alertaId , 'view']" >{{ descarga.alertaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/descarga', descarga.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/descarga', descarga.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(descarga)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="descargas && descargas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
