<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-descarga-heading" jhiTranslate="nucleoApp.descarga.home.createOrEditLabel">Create or edit a Descarga</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.qtd" for="field_qtd">Qtd</label>
                    <input type="number" class="form-control" name="qtd" id="field_qtd"
                           formControlName="qtd"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.dataPrimeiraDescarga" for="field_dataPrimeiraDescarga">Data Primeira Descarga</label>
                    <div class="d-flex">
                        <input id="field_dataPrimeiraDescarga" type="datetime-local" class="form-control" name="dataPrimeiraDescarga" formControlName="dataPrimeiraDescarga" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataPrimeiraDescarga')!.invalid && (editForm.get('dataPrimeiraDescarga')!.dirty || editForm.get('dataPrimeiraDescarga')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataPrimeiraDescarga')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataPrimeiraDescarga')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.tempoAntecipacao" for="field_tempoAntecipacao">Tempo Antecipacao</label>
                    <input type="text" class="form-control" name="tempoAntecipacao" id="field_tempoAntecipacao"
                           formControlName="tempoAntecipacao"/>
                    <div *ngIf="editForm.get('tempoAntecipacao')!.invalid && (editForm.get('tempoAntecipacao')!.dirty || editForm.get('tempoAntecipacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tempoAntecipacao')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tempoAntecipacao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tempoAntecipacao')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Tempo Antecipacao' }">
                            This field should follow pattern for "Tempo Antecipacao".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.rede" for="field_rede">Rede</label>
                    <select class="form-control" id="field_rede" name="rede" formControlName="redeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="redeOption.id" *ngFor="let redeOption of redes; trackBy: trackById">{{ redeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.descargaTipo" for="field_descargaTipo">Descarga Tipo</label>
                    <select class="form-control" id="field_descargaTipo" name="descargaTipo" formControlName="descargaTipoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="descargaTipoOption.id" *ngFor="let descargaTipoOption of descargatipos; trackBy: trackById">{{ descargaTipoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.descargaUnidade" for="field_descargaUnidade">Descarga Unidade</label>
                    <select class="form-control" id="field_descargaUnidade" name="descargaUnidade" formControlName="descargaUnidadeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="descargaUnidadeOption.id" *ngFor="let descargaUnidadeOption of descargaunidades; trackBy: trackById">{{ descargaUnidadeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.descarga.alerta" for="field_alerta">Alerta</label>
                    <select class="form-control" id="field_alerta" name="alerta" formControlName="alertaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alertaOption.id" *ngFor="let alertaOption of alertas; trackBy: trackById">{{ alertaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
