<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perfil">
            <h2><span jhiTranslate="nucleoApp.perfil.detail.title">Perfil</span> {{ perfil.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.perfil.name">Name</span></dt>
                <dd>
                    <span>{{ perfil.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.perfil.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ perfil.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.perfil.created">Created</span></dt>
                <dd>
                    <span>{{ perfil.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.perfil.updated">Updated</span></dt>
                <dd>
                    <span>{{ perfil.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil', perfil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
