<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.consolidacao.home.title">Consolidacaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consolidacao" [routerLink]="['/consolidacao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.consolidacao.home.createLabel">
            Create a new Consolidacao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="consolidacaos?.length === 0">
        <span jhiTranslate="nucleoApp.consolidacao.home.notFound">No consolidacaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="consolidacaos && consolidacaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.consolidacao.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.consolidacao.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="data"><span jhiTranslate="nucleoApp.consolidacao.data">Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="texto"><span jhiTranslate="nucleoApp.consolidacao.texto">Texto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qtdEmail"><span jhiTranslate="nucleoApp.consolidacao.qtdEmail">Qtd Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagem"><span jhiTranslate="nucleoApp.consolidacao.imagem">Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arquivoEml"><span jhiTranslate="nucleoApp.consolidacao.arquivoEml">Arquivo Eml</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="assunto"><span jhiTranslate="nucleoApp.consolidacao.assunto">Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subAssunto"><span jhiTranslate="nucleoApp.consolidacao.subAssunto">Sub Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.consolidacao.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.consolidacao.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoRecursoId"><span jhiTranslate="nucleoApp.consolidacao.planoRecurso">Plano Recurso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consolidacao of consolidacaos ;trackBy: trackId">
                    <td><a [routerLink]="['/consolidacao', consolidacao.id, 'view']">{{ consolidacao.id }}</a></td>
                    <td>{{ consolidacao.nome }}</td>
                    <td>{{ consolidacao.descricao }}</td>
                    <td>{{ consolidacao.data | date:'mediumDate' }}</td>
                    <td>{{ consolidacao.texto }}</td>
                    <td>{{ consolidacao.qtdEmail }}</td>
                    <td>{{ consolidacao.imagem }}</td>
                    <td>{{ consolidacao.arquivoEml }}</td>
                    <td>{{ consolidacao.assunto }}</td>
                    <td>{{ consolidacao.subAssunto }}</td>
                    <td>{{ consolidacao.created | date:'medium' }}</td>
                    <td>{{ consolidacao.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="consolidacao.planoRecursoId">
                            <a [routerLink]="['/plano-recurso', consolidacao.planoRecursoId , 'view']" >{{ consolidacao.planoRecursoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/consolidacao', consolidacao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/consolidacao', consolidacao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(consolidacao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="consolidacaos && consolidacaos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
