<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consolidacao">
            <h2><span jhiTranslate="nucleoApp.consolidacao.detail.title">Consolidacao</span> {{ consolidacao.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.consolidacao.nome">Nome</span></dt>
                <dd>
                    <span>{{ consolidacao.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ consolidacao.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.data">Data</span></dt>
                <dd>
                    <span>{{ consolidacao.data }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.texto">Texto</span></dt>
                <dd>
                    <span>{{ consolidacao.texto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.qtdEmail">Qtd Email</span></dt>
                <dd>
                    <span>{{ consolidacao.qtdEmail }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.imagem">Imagem</span></dt>
                <dd>
                    <span>{{ consolidacao.imagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.arquivoEml">Arquivo Eml</span></dt>
                <dd>
                    <span>{{ consolidacao.arquivoEml }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.assunto">Assunto</span></dt>
                <dd>
                    <span>{{ consolidacao.assunto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.subAssunto">Sub Assunto</span></dt>
                <dd>
                    <span>{{ consolidacao.subAssunto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.created">Created</span></dt>
                <dd>
                    <span>{{ consolidacao.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.updated">Updated</span></dt>
                <dd>
                    <span>{{ consolidacao.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.consolidacao.planoRecurso">Plano Recurso</span></dt>
                <dd>
                    <div *ngIf="consolidacao.planoRecursoId">
                        <a [routerLink]="['/plano-recurso', consolidacao.planoRecursoId, 'view']">{{ consolidacao.planoRecursoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consolidacao', consolidacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
