<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recursoTipo">
            <h2><span jhiTranslate="nucleoApp.recursoTipo.detail.title">Recurso Tipo</span> {{ recursoTipo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.recursoTipo.name">Name</span></dt>
                <dd>
                    <span>{{ recursoTipo.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTipo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ recursoTipo.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTipo.created">Created</span></dt>
                <dd>
                    <span>{{ recursoTipo.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTipo.updated">Updated</span></dt>
                <dd>
                    <span>{{ recursoTipo.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recurso-tipo', recursoTipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
