<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diaSemana">
            <h2><span jhiTranslate="nucleoApp.diaSemana.detail.title">Dia Semana</span> {{ diaSemana.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.diaSemana.nome">Nome</span></dt>
                <dd>
                    <span>{{ diaSemana.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.diaSemana.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ diaSemana.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.diaSemana.created">Created</span></dt>
                <dd>
                    <span>{{ diaSemana.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.diaSemana.updated">Updated</span></dt>
                <dd>
                    <span>{{ diaSemana.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dia-semana', diaSemana.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
