<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-plano-heading" jhiTranslate="nucleoApp.plano.home.createOrEditLabel">Create or edit a Plano</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.horarioPrevisto" for="field_horarioPrevisto">Horario Previsto</label>
                    <input type="number" class="form-control" name="horarioPrevisto" id="field_horarioPrevisto"
                           formControlName="horarioPrevisto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.trackingAtivo" for="field_trackingAtivo">Tracking Ativo</label>
                    <input type="number" class="form-control" name="trackingAtivo" id="field_trackingAtivo"
                           formControlName="trackingAtivo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.plrAtivo" for="field_plrAtivo">Plr Ativo</label>
                    <input type="number" class="form-control" name="plrAtivo" id="field_plrAtivo"
                           formControlName="plrAtivo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.codigoWidgetPrevisao" for="field_codigoWidgetPrevisao">Codigo Widget Previsao</label>
                    <input type="number" class="form-control" name="codigoWidgetPrevisao" id="field_codigoWidgetPrevisao"
                           formControlName="codigoWidgetPrevisao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.kmlAlvo" for="field_kmlAlvo">Kml Alvo</label>
                    <input type="text" class="form-control" name="kmlAlvo" id="field_kmlAlvo"
                           formControlName="kmlAlvo"/>
                    <div *ngIf="editForm.get('kmlAlvo')!.invalid && (editForm.get('kmlAlvo')!.dirty || editForm.get('kmlAlvo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kmlAlvo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.zoomMin" for="field_zoomMin">Zoom Min</label>
                    <input type="number" class="form-control" name="zoomMin" id="field_zoomMin"
                           formControlName="zoomMin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.dtInicioContrato" for="field_dtInicioContrato">Dt Inicio Contrato</label>
                    <div class="input-group">
                        <input id="field_dtInicioContrato" type="text" class="form-control" name="dtInicioContrato" ngbDatepicker #dtInicioContratoDp="ngbDatepicker" formControlName="dtInicioContrato"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dtInicioContratoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.dataFimContrato" for="field_dataFimContrato">Data Fim Contrato</label>
                    <div class="input-group">
                        <input id="field_dataFimContrato" type="text" class="form-control" name="dataFimContrato" ngbDatepicker #dataFimContratoDp="ngbDatepicker" formControlName="dataFimContrato"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataFimContratoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.horarioMonitInicio" for="field_horarioMonitInicio">Horario Monit Inicio</label>
                    <input type="text" class="form-control" name="horarioMonitInicio" id="field_horarioMonitInicio"
                           formControlName="horarioMonitInicio"/>
                    <div *ngIf="editForm.get('horarioMonitInicio')!.invalid && (editForm.get('horarioMonitInicio')!.dirty || editForm.get('horarioMonitInicio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioMonitInicio')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioMonitInicio')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioMonitInicio')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Horario Monit Inicio' }">
                            This field should follow pattern for "Horario Monit Inicio".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.horarioMonitFinal" for="field_horarioMonitFinal">Horario Monit Final</label>
                    <input type="text" class="form-control" name="horarioMonitFinal" id="field_horarioMonitFinal"
                           formControlName="horarioMonitFinal"/>
                    <div *ngIf="editForm.get('horarioMonitFinal')!.invalid && (editForm.get('horarioMonitFinal')!.dirty || editForm.get('horarioMonitFinal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioMonitFinal')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioMonitFinal')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioMonitFinal')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Horario Monit Final' }">
                            This field should follow pattern for "Horario Monit Final".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.blocos" for="field_blocos">Blocos</label>
                    <input type="text" class="form-control" name="blocos" id="field_blocos"
                           formControlName="blocos"/>
                    <div *ngIf="editForm.get('blocos')!.invalid && (editForm.get('blocos')!.dirty || editForm.get('blocos')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('blocos')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.extent" for="field_extent">Extent</label>
                    <input type="text" class="form-control" name="extent" id="field_extent"
                           formControlName="extent"/>
                    <div *ngIf="editForm.get('extent')!.invalid && (editForm.get('extent')!.dirty || editForm.get('extent')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('extent')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackById">{{ empresaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.plano.planoStatus" for="field_planoStatus">Plano Status</label>
                    <select class="form-control" id="field_planoStatus" name="planoStatus" formControlName="planoStatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planoStatusOption.id" *ngFor="let planoStatusOption of planostatuses; trackBy: trackById">{{ planoStatusOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
