<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="acumuladoChuvaFaixa">
            <h2><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.detail.title">Acumulado Chuva Faixa</span> {{ acumuladoChuvaFaixa.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.nome">Nome</span></dt>
                <dd>
                    <span>{{ acumuladoChuvaFaixa.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ acumuladoChuvaFaixa.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.deMm">De Mm</span></dt>
                <dd>
                    <span>{{ acumuladoChuvaFaixa.deMm }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.ateMm">Ate Mm</span></dt>
                <dd>
                    <span>{{ acumuladoChuvaFaixa.ateMm }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.created">Created</span></dt>
                <dd>
                    <span>{{ acumuladoChuvaFaixa.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.acumuladoChuvaFaixa.updated">Updated</span></dt>
                <dd>
                    <span>{{ acumuladoChuvaFaixa.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acumulado-chuva-faixa', acumuladoChuvaFaixa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
