<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.ventoVmFaixa.home.title">Vento Vm Faixas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vento-vm-faixa" [routerLink]="['/vento-vm-faixa/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.ventoVmFaixa.home.createLabel">
            Create a new Vento Vm Faixa
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ventoVmFaixas?.length === 0">
        <span jhiTranslate="nucleoApp.ventoVmFaixa.home.notFound">No ventoVmFaixas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ventoVmFaixas && ventoVmFaixas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.ventoVmFaixa.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.ventoVmFaixa.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="de"><span jhiTranslate="nucleoApp.ventoVmFaixa.de">De</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ate"><span jhiTranslate="nucleoApp.ventoVmFaixa.ate">Ate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.ventoVmFaixa.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.ventoVmFaixa.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ventoVmFaixa of ventoVmFaixas ;trackBy: trackId">
                    <td><a [routerLink]="['/vento-vm-faixa', ventoVmFaixa.id, 'view']">{{ ventoVmFaixa.id }}</a></td>
                    <td>{{ ventoVmFaixa.name }}</td>
                    <td>{{ ventoVmFaixa.descricao }}</td>
                    <td>{{ ventoVmFaixa.de }}</td>
                    <td>{{ ventoVmFaixa.ate }}</td>
                    <td>{{ ventoVmFaixa.created | date:'medium' }}</td>
                    <td>{{ ventoVmFaixa.updated | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vento-vm-faixa', ventoVmFaixa.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vento-vm-faixa', ventoVmFaixa.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ventoVmFaixa)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ventoVmFaixas && ventoVmFaixas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
