<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boletim">
            <h2><span jhiTranslate="nucleoApp.boletim.detail.title">Boletim</span> {{ boletim.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.boletim.nome">Nome</span></dt>
                <dd>
                    <span>{{ boletim.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ boletim.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.texto">Texto</span></dt>
                <dd>
                    <span>{{ boletim.texto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.textoSms">Texto Sms</span></dt>
                <dd>
                    <span>{{ boletim.textoSms }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.imagem">Imagem</span></dt>
                <dd>
                    <span>{{ boletim.imagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.assunto">Assunto</span></dt>
                <dd>
                    <span>{{ boletim.assunto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.textoParte2">Texto Parte 2</span></dt>
                <dd>
                    <span>{{ boletim.textoParte2 }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.textoParte3">Texto Parte 3</span></dt>
                <dd>
                    <span>{{ boletim.textoParte3 }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.subAssunto">Sub Assunto</span></dt>
                <dd>
                    <span>{{ boletim.subAssunto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.naoExibirPagEmpresa">Nao Exibir Pag Empresa</span></dt>
                <dd>
                    <span>{{ boletim.naoExibirPagEmpresa }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.critico">Critico</span></dt>
                <dd>
                    <span>{{ boletim.critico }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.aprovado">Aprovado</span></dt>
                <dd>
                    <span>{{ boletim.aprovado }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.enviarSms">Enviar Sms</span></dt>
                <dd>
                    <span>{{ boletim.enviarSms }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.enviarEmail">Enviar Email</span></dt>
                <dd>
                    <span>{{ boletim.enviarEmail }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.created">Created</span></dt>
                <dd>
                    <span>{{ boletim.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.updated">Updated</span></dt>
                <dd>
                    <span>{{ boletim.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletim.planoRecurso">Plano Recurso</span></dt>
                <dd>
                    <div *ngIf="boletim.planoRecursoId">
                        <a [routerLink]="['/plano-recurso', boletim.planoRecursoId, 'view']">{{ boletim.planoRecursoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/boletim', boletim.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
