<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.boletim.home.title">Boletims</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-boletim" [routerLink]="['/boletim/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.boletim.home.createLabel">
            Create a new Boletim
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="boletims?.length === 0">
        <span jhiTranslate="nucleoApp.boletim.home.notFound">No boletims found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="boletims && boletims.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.boletim.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.boletim.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="texto"><span jhiTranslate="nucleoApp.boletim.texto">Texto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoSms"><span jhiTranslate="nucleoApp.boletim.textoSms">Texto Sms</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagem"><span jhiTranslate="nucleoApp.boletim.imagem">Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="assunto"><span jhiTranslate="nucleoApp.boletim.assunto">Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoParte2"><span jhiTranslate="nucleoApp.boletim.textoParte2">Texto Parte 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textoParte3"><span jhiTranslate="nucleoApp.boletim.textoParte3">Texto Parte 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subAssunto"><span jhiTranslate="nucleoApp.boletim.subAssunto">Sub Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="naoExibirPagEmpresa"><span jhiTranslate="nucleoApp.boletim.naoExibirPagEmpresa">Nao Exibir Pag Empresa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="critico"><span jhiTranslate="nucleoApp.boletim.critico">Critico</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aprovado"><span jhiTranslate="nucleoApp.boletim.aprovado">Aprovado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enviarSms"><span jhiTranslate="nucleoApp.boletim.enviarSms">Enviar Sms</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enviarEmail"><span jhiTranslate="nucleoApp.boletim.enviarEmail">Enviar Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.boletim.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.boletim.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoRecursoId"><span jhiTranslate="nucleoApp.boletim.planoRecurso">Plano Recurso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let boletim of boletims ;trackBy: trackId">
                    <td><a [routerLink]="['/boletim', boletim.id, 'view']">{{ boletim.id }}</a></td>
                    <td>{{ boletim.nome }}</td>
                    <td>{{ boletim.descricao }}</td>
                    <td>{{ boletim.texto }}</td>
                    <td>{{ boletim.textoSms }}</td>
                    <td>{{ boletim.imagem }}</td>
                    <td>{{ boletim.assunto }}</td>
                    <td>{{ boletim.textoParte2 }}</td>
                    <td>{{ boletim.textoParte3 }}</td>
                    <td>{{ boletim.subAssunto }}</td>
                    <td>{{ boletim.naoExibirPagEmpresa }}</td>
                    <td>{{ boletim.critico }}</td>
                    <td>{{ boletim.aprovado }}</td>
                    <td>{{ boletim.enviarSms }}</td>
                    <td>{{ boletim.enviarEmail }}</td>
                    <td>{{ boletim.created | date:'medium' }}</td>
                    <td>{{ boletim.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="boletim.planoRecursoId">
                            <a [routerLink]="['/plano-recurso', boletim.planoRecursoId , 'view']" >{{ boletim.planoRecursoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/boletim', boletim.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/boletim', boletim.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(boletim)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="boletims && boletims.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
