<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tempestadeNivel">
            <h2><span jhiTranslate="nucleoApp.tempestadeNivel.detail.title">Tempestade Nivel</span> {{ tempestadeNivel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.name">Name</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.taxaDeRaios">Taxa De Raios</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.taxaDeRaios }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.ventosVelocidade">Ventos Velocidade</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.ventosVelocidade }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.granizo">Granizo</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.granizo }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.potencialDeDanos">Potencial De Danos</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.potencialDeDanos }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.created">Created</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.updated">Updated</span></dt>
                <dd>
                    <span>{{ tempestadeNivel.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeNivel.intensidadeChuva">Intensidade Chuva</span></dt>
                <dd>
                    <div *ngIf="tempestadeNivel.intensidadeChuvaId">
                        <a [routerLink]="['/intensidade-chuva', tempestadeNivel.intensidadeChuvaId, 'view']">{{ tempestadeNivel.intensidadeChuvaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tempestade-nivel', tempestadeNivel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
