<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.tempestadeNivel.home.title">Tempestade Nivels</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tempestade-nivel" [routerLink]="['/tempestade-nivel/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.tempestadeNivel.home.createLabel">
            Create a new Tempestade Nivel
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tempestadeNivels?.length === 0">
        <span jhiTranslate="nucleoApp.tempestadeNivel.home.notFound">No tempestadeNivels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tempestadeNivels && tempestadeNivels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.tempestadeNivel.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.tempestadeNivel.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taxaDeRaios"><span jhiTranslate="nucleoApp.tempestadeNivel.taxaDeRaios">Taxa De Raios</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ventosVelocidade"><span jhiTranslate="nucleoApp.tempestadeNivel.ventosVelocidade">Ventos Velocidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="granizo"><span jhiTranslate="nucleoApp.tempestadeNivel.granizo">Granizo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="potencialDeDanos"><span jhiTranslate="nucleoApp.tempestadeNivel.potencialDeDanos">Potencial De Danos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.tempestadeNivel.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.tempestadeNivel.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="intensidadeChuvaId"><span jhiTranslate="nucleoApp.tempestadeNivel.intensidadeChuva">Intensidade Chuva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tempestadeNivel of tempestadeNivels ;trackBy: trackId">
                    <td><a [routerLink]="['/tempestade-nivel', tempestadeNivel.id, 'view']">{{ tempestadeNivel.id }}</a></td>
                    <td>{{ tempestadeNivel.name }}</td>
                    <td>{{ tempestadeNivel.descricao }}</td>
                    <td>{{ tempestadeNivel.taxaDeRaios }}</td>
                    <td>{{ tempestadeNivel.ventosVelocidade }}</td>
                    <td>{{ tempestadeNivel.granizo }}</td>
                    <td>{{ tempestadeNivel.potencialDeDanos }}</td>
                    <td>{{ tempestadeNivel.created | date:'medium' }}</td>
                    <td>{{ tempestadeNivel.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="tempestadeNivel.intensidadeChuvaId">
                            <a [routerLink]="['/intensidade-chuva', tempestadeNivel.intensidadeChuvaId , 'view']" >{{ tempestadeNivel.intensidadeChuvaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tempestade-nivel', tempestadeNivel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tempestade-nivel', tempestadeNivel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tempestadeNivel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tempestadeNivels && tempestadeNivels.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
