<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoFerramenta">
            <h2><span jhiTranslate="nucleoApp.tipoFerramenta.detail.title">Tipo Ferramenta</span> {{ tipoFerramenta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.tipoFerramenta.name">Name</span></dt>
                <dd>
                    <span>{{ tipoFerramenta.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tipoFerramenta.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ tipoFerramenta.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tipoFerramenta.created">Created</span></dt>
                <dd>
                    <span>{{ tipoFerramenta.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tipoFerramenta.updated">Updated</span></dt>
                <dd>
                    <span>{{ tipoFerramenta.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-ferramenta', tipoFerramenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
