<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="umidadeAr">
            <h2><span jhiTranslate="nucleoApp.umidadeAr.detail.title">Umidade Ar</span> {{ umidadeAr.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.umidadeAr.name">Name</span></dt>
                <dd>
                    <span>{{ umidadeAr.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.umidadeAr.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ umidadeAr.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.umidadeAr.created">Created</span></dt>
                <dd>
                    <span>{{ umidadeAr.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.umidadeAr.updated">Updated</span></dt>
                <dd>
                    <span>{{ umidadeAr.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/umidade-ar', umidadeAr.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
