<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jornadaTrabalho">
            <h2><span jhiTranslate="nucleoApp.jornadaTrabalho.detail.title">Jornada Trabalho</span> {{ jornadaTrabalho.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.nome">Nome</span></dt>
                <dd>
                    <span>{{ jornadaTrabalho.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ jornadaTrabalho.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.horainicio">Horainicio</span></dt>
                <dd>
                    <span>{{ jornadaTrabalho.horainicio }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.duracao">Duracao</span></dt>
                <dd>
                    <span>{{ jornadaTrabalho.duracao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.created">Created</span></dt>
                <dd>
                    <span>{{ jornadaTrabalho.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.updated">Updated</span></dt>
                <dd>
                    <span>{{ jornadaTrabalho.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.plano">Plano</span></dt>
                <dd>
                    <div *ngIf="jornadaTrabalho.planoId">
                        <a [routerLink]="['/plano', jornadaTrabalho.planoId, 'view']">{{ jornadaTrabalho.planoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.jornadaTrabalho.diaSemana">Dia Semana</span></dt>
                <dd>
                    <div *ngIf="jornadaTrabalho.diaSemanaId">
                        <a [routerLink]="['/dia-semana', jornadaTrabalho.diaSemanaId, 'view']">{{ jornadaTrabalho.diaSemanaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jornada-trabalho', jornadaTrabalho.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
