<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.jornadaTrabalho.home.title">Jornada Trabalhos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jornada-trabalho" [routerLink]="['/jornada-trabalho/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.jornadaTrabalho.home.createLabel">
            Create a new Jornada Trabalho
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jornadaTrabalhos?.length === 0">
        <span jhiTranslate="nucleoApp.jornadaTrabalho.home.notFound">No jornadaTrabalhos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jornadaTrabalhos && jornadaTrabalhos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.jornadaTrabalho.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.jornadaTrabalho.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horainicio"><span jhiTranslate="nucleoApp.jornadaTrabalho.horainicio">Horainicio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duracao"><span jhiTranslate="nucleoApp.jornadaTrabalho.duracao">Duracao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.jornadaTrabalho.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.jornadaTrabalho.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoId"><span jhiTranslate="nucleoApp.jornadaTrabalho.plano">Plano</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="diaSemanaId"><span jhiTranslate="nucleoApp.jornadaTrabalho.diaSemana">Dia Semana</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jornadaTrabalho of jornadaTrabalhos ;trackBy: trackId">
                    <td><a [routerLink]="['/jornada-trabalho', jornadaTrabalho.id, 'view']">{{ jornadaTrabalho.id }}</a></td>
                    <td>{{ jornadaTrabalho.nome }}</td>
                    <td>{{ jornadaTrabalho.descricao }}</td>
                    <td>{{ jornadaTrabalho.horainicio }}</td>
                    <td>{{ jornadaTrabalho.duracao }}</td>
                    <td>{{ jornadaTrabalho.created | date:'medium' }}</td>
                    <td>{{ jornadaTrabalho.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="jornadaTrabalho.planoId">
                            <a [routerLink]="['/plano', jornadaTrabalho.planoId , 'view']" >{{ jornadaTrabalho.planoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="jornadaTrabalho.diaSemanaId">
                            <a [routerLink]="['/dia-semana', jornadaTrabalho.diaSemanaId , 'view']" >{{ jornadaTrabalho.diaSemanaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/jornada-trabalho', jornadaTrabalho.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/jornada-trabalho', jornadaTrabalho.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jornadaTrabalho)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jornadaTrabalhos && jornadaTrabalhos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
