<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alerta-heading" jhiTranslate="nucleoApp.alerta.home.createOrEditLabel">Create or edit a Alerta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.contato" for="field_contato">Contato</label>
                    <input type="text" class="form-control" name="contato" id="field_contato"
                           formControlName="contato"/>
                    <div *ngIf="editForm.get('contato')!.invalid && (editForm.get('contato')!.dirty || editForm.get('contato')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contato')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.duracao" for="field_duracao">Duracao</label>
                    <input type="text" class="form-control" name="duracao" id="field_duracao"
                           formControlName="duracao"/>
                    <div *ngIf="editForm.get('duracao')!.invalid && (editForm.get('duracao')!.dirty || editForm.get('duracao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracao')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracao')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Duracao' }">
                            This field should follow pattern for "Duracao".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.automatico" for="field_automatico">Automatico</label>
                    <input type="checkbox" class="form-control" name="automatico" id="field_automatico"
                           formControlName="automatico"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.critico" for="field_critico">Critico</label>
                    <input type="checkbox" class="form-control" name="critico" id="field_critico"
                           formControlName="critico"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.observacao" for="field_observacao">Observacao</label>
                    <input type="text" class="form-control" name="observacao" id="field_observacao"
                           formControlName="observacao"/>
                    <div *ngIf="editForm.get('observacao')!.invalid && (editForm.get('observacao')!.dirty || editForm.get('observacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('observacao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.alertaPaiId" for="field_alertaPaiId">Alerta Pai Id</label>
                    <input type="number" class="form-control" name="alertaPaiId" id="field_alertaPaiId"
                           formControlName="alertaPaiId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.planoRecurso" for="field_planoRecurso">Plano Recurso</label>
                    <select class="form-control" id="field_planoRecurso" name="planoRecurso" formControlName="planoRecursoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planoRecursoOption.id" *ngFor="let planoRecursoOption of planorecursos; trackBy: trackById">{{ planoRecursoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.alvo" for="field_alvo">Alvo</label>
                    <select class="form-control" id="field_alvo" name="alvo" formControlName="alvoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alvoOption.id" *ngFor="let alvoOption of alvos; trackBy: trackById">{{ alvoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" formControlName="usuarioId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of usuarios; trackBy: trackById">{{ usuarioOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.alertaRisco" for="field_alertaRisco">Alerta Risco</label>
                    <select class="form-control" id="field_alertaRisco" name="alertaRisco" formControlName="alertaRiscoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alertaRiscoOption.id" *ngFor="let alertaRiscoOption of alertariscos; trackBy: trackById">{{ alertaRiscoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.tempestadeNivel" for="field_tempestadeNivel">Tempestade Nivel</label>
                    <select class="form-control" id="field_tempestadeNivel" name="tempestadeNivel" formControlName="tempestadeNivelId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tempestadeNivelOption.id" *ngFor="let tempestadeNivelOption of tempestadenivels; trackBy: trackById">{{ tempestadeNivelOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alerta.alertaTipo" for="field_alertaTipo">Alerta Tipo</label>
                    <select class="form-control" id="field_alertaTipo" name="alertaTipo" formControlName="alertaTipoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alertaTipoOption.id" *ngFor="let alertaTipoOption of alertatipos; trackBy: trackById">{{ alertaTipoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
