<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.alerta.home.title">Alertas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alerta" [routerLink]="['/alerta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.alerta.home.createLabel">
            Create a new Alerta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="alertas?.length === 0">
        <span jhiTranslate="nucleoApp.alerta.home.notFound">No alertas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="alertas && alertas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.alerta.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contato"><span jhiTranslate="nucleoApp.alerta.contato">Contato</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duracao"><span jhiTranslate="nucleoApp.alerta.duracao">Duracao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="automatico"><span jhiTranslate="nucleoApp.alerta.automatico">Automatico</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="critico"><span jhiTranslate="nucleoApp.alerta.critico">Critico</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="nucleoApp.alerta.observacao">Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alertaPaiId"><span jhiTranslate="nucleoApp.alerta.alertaPaiId">Alerta Pai Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.alerta.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.alerta.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoRecursoId"><span jhiTranslate="nucleoApp.alerta.planoRecurso">Plano Recurso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alvoId"><span jhiTranslate="nucleoApp.alerta.alvo">Alvo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operadorUsuarioId"><span jhiTranslate="nucleoApp.alerta.operadorUsuario">Operador Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alertaRiscoId"><span jhiTranslate="nucleoApp.alerta.alertaRisco">Alerta Risco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempestadeNivelId"><span jhiTranslate="nucleoApp.alerta.tempestadeNivel">Tempestade Nivel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alertaTipoId"><span jhiTranslate="nucleoApp.alerta.alertaTipo">Alerta Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alerta of alertas ;trackBy: trackId">
                    <td><a [routerLink]="['/alerta', alerta.id, 'view']">{{ alerta.id }}</a></td>
                    <td>{{ alerta.nome }}</td>
                    <td>{{ alerta.contato }}</td>
                    <td>{{ alerta.duracao }}</td>
                    <td>{{ alerta.automatico }}</td>
                    <td>{{ alerta.critico }}</td>
                    <td>{{ alerta.observacao }}</td>
                    <td>{{ alerta.alertaPaiId }}</td>
                    <td>{{ alerta.created | date:'medium' }}</td>
                    <td>{{ alerta.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="alerta.planoRecursoId">
                            <a [routerLink]="['/plano-recurso', alerta.planoRecursoId , 'view']" >{{ alerta.planoRecursoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="alerta.alvoId">
                            <a [routerLink]="['/alvo', alerta.alvoId , 'view']" >{{ alerta.alvoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="alerta.operadorUsuarioId">
                            <a [routerLink]="['/usuario', alerta.operadorUsuarioId , 'view']" >{{ alerta.operadorUsuarioId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="alerta.alertaRiscoId">
                            <a [routerLink]="['/alerta-risco', alerta.alertaRiscoId , 'view']" >{{ alerta.alertaRiscoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="alerta.tempestadeNivelId">
                            <a [routerLink]="['/tempestade-nivel', alerta.tempestadeNivelId , 'view']" >{{ alerta.tempestadeNivelId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="alerta.alertaTipoId">
                            <a [routerLink]="['/alerta-tipo', alerta.alertaTipoId , 'view']" >{{ alerta.alertaTipoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/alerta', alerta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/alerta', alerta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(alerta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="alertas && alertas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
