<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alvo-heading" jhiTranslate="nucleoApp.alvo.home.createOrEditLabel">Create or edit a Alvo</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.nomeReduzido" for="field_nomeReduzido">Nome Reduzido</label>
                    <input type="text" class="form-control" name="nomeReduzido" id="field_nomeReduzido"
                           formControlName="nomeReduzido"/>
                    <div *ngIf="editForm.get('nomeReduzido')!.invalid && (editForm.get('nomeReduzido')!.dirty || editForm.get('nomeReduzido')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomeReduzido')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.primeiroPonto" for="field_primeiroPonto">Primeiro Ponto</label>
                    <input type="text" class="form-control" name="primeiroPonto" id="field_primeiroPonto"
                           formControlName="primeiroPonto"/>
                    <div *ngIf="editForm.get('primeiroPonto')!.invalid && (editForm.get('primeiroPonto')!.dirty || editForm.get('primeiroPonto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primeiroPonto')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.ultimoPonto" for="field_ultimoPonto">Ultimo Ponto</label>
                    <input type="text" class="form-control" name="ultimoPonto" id="field_ultimoPonto"
                           formControlName="ultimoPonto"/>
                    <div *ngIf="editForm.get('ultimoPonto')!.invalid && (editForm.get('ultimoPonto')!.dirty || editForm.get('ultimoPonto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ultimoPonto')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.horarioLiberacao" for="field_horarioLiberacao">Horario Liberacao</label>
                    <div class="d-flex">
                        <input id="field_horarioLiberacao" type="datetime-local" class="form-control" name="horarioLiberacao" formControlName="horarioLiberacao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('horarioLiberacao')!.invalid && (editForm.get('horarioLiberacao')!.dirty || editForm.get('horarioLiberacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioLiberacao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('horarioLiberacao')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.horario" for="field_horario">Horario</label>
                    <div class="d-flex">
                        <input id="field_horario" type="datetime-local" class="form-control" name="horario" formControlName="horario" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('horario')!.invalid && (editForm.get('horario')!.dirty || editForm.get('horario')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horario')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('horario')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.duracao" for="field_duracao">Duracao</label>
                    <input type="text" class="form-control" name="duracao" id="field_duracao"
                           formControlName="duracao"/>
                    <div *ngIf="editForm.get('duracao')!.invalid && (editForm.get('duracao')!.dirty || editForm.get('duracao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracao')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracao')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Duracao' }">
                            This field should follow pattern for "Duracao".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.duracaoAtual" for="field_duracaoAtual">Duracao Atual</label>
                    <input type="text" class="form-control" name="duracaoAtual" id="field_duracaoAtual"
                           formControlName="duracaoAtual"/>
                    <div *ngIf="editForm.get('duracaoAtual')!.invalid && (editForm.get('duracaoAtual')!.dirty || editForm.get('duracaoAtual')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracaoAtual')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracaoAtual')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duracaoAtual')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Duracao Atual' }">
                            This field should follow pattern for "Duracao Atual".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.dataDesativado" for="field_dataDesativado">Data Desativado</label>
                    <div class="d-flex">
                        <input id="field_dataDesativado" type="datetime-local" class="form-control" name="dataDesativado" formControlName="dataDesativado" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataDesativado')!.invalid && (editForm.get('dataDesativado')!.dirty || editForm.get('dataDesativado')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataDesativado')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataDesativado')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.coordenadasAlertaPontos" for="field_coordenadasAlertaPontos">Coordenadas Alerta Pontos</label>
                    <input type="text" class="form-control" name="coordenadasAlertaPontos" id="field_coordenadasAlertaPontos"
                           formControlName="coordenadasAlertaPontos"/>
                    <div *ngIf="editForm.get('coordenadasAlertaPontos')!.invalid && (editForm.get('coordenadasAlertaPontos')!.dirty || editForm.get('coordenadasAlertaPontos')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('coordenadasAlertaPontos')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.coordenadasLiberacaoPontos" for="field_coordenadasLiberacaoPontos">Coordenadas Liberacao Pontos</label>
                    <input type="text" class="form-control" name="coordenadasLiberacaoPontos" id="field_coordenadasLiberacaoPontos"
                           formControlName="coordenadasLiberacaoPontos"/>
                    <div *ngIf="editForm.get('coordenadasLiberacaoPontos')!.invalid && (editForm.get('coordenadasLiberacaoPontos')!.dirty || editForm.get('coordenadasLiberacaoPontos')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('coordenadasLiberacaoPontos')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.telegramTokenBot" for="field_telegramTokenBot">Telegram Token Bot</label>
                    <input type="text" class="form-control" name="telegramTokenBot" id="field_telegramTokenBot"
                           formControlName="telegramTokenBot"/>
                    <div *ngIf="editForm.get('telegramTokenBot')!.invalid && (editForm.get('telegramTokenBot')!.dirty || editForm.get('telegramTokenBot')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telegramTokenBot')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.telegramChatId" for="field_telegramChatId">Telegram Chat Id</label>
                    <input type="text" class="form-control" name="telegramChatId" id="field_telegramChatId"
                           formControlName="telegramChatId"/>
                    <div *ngIf="editForm.get('telegramChatId')!.invalid && (editForm.get('telegramChatId')!.dirty || editForm.get('telegramChatId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telegramChatId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.horarioBloqueioNotificacao" for="field_horarioBloqueioNotificacao">Horario Bloqueio Notificacao</label>
                    <div class="d-flex">
                        <input id="field_horarioBloqueioNotificacao" type="datetime-local" class="form-control" name="horarioBloqueioNotificacao" formControlName="horarioBloqueioNotificacao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('horarioBloqueioNotificacao')!.invalid && (editForm.get('horarioBloqueioNotificacao')!.dirty || editForm.get('horarioBloqueioNotificacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horarioBloqueioNotificacao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('horarioBloqueioNotificacao')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.coordenadasOriginalPontos" for="field_coordenadasOriginalPontos">Coordenadas Original Pontos</label>
                    <input type="text" class="form-control" name="coordenadasOriginalPontos" id="field_coordenadasOriginalPontos"
                           formControlName="coordenadasOriginalPontos"/>
                    <div *ngIf="editForm.get('coordenadasOriginalPontos')!.invalid && (editForm.get('coordenadasOriginalPontos')!.dirty || editForm.get('coordenadasOriginalPontos')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('coordenadasOriginalPontos')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                           formControlName="ativo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.alvo.plano" for="field_plano">Plano</label>
                    <select class="form-control" id="field_plano" name="plano" formControlName="planoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planoOption.id" *ngFor="let planoOption of planos; trackBy: trackById">{{ planoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
