<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.alvo.home.title">Alvos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alvo" [routerLink]="['/alvo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.alvo.home.createLabel">
            Create a new Alvo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="alvos?.length === 0">
        <span jhiTranslate="nucleoApp.alvo.home.notFound">No alvos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="alvos && alvos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.alvo.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomeReduzido"><span jhiTranslate="nucleoApp.alvo.nomeReduzido">Nome Reduzido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.alvo.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="primeiroPonto"><span jhiTranslate="nucleoApp.alvo.primeiroPonto">Primeiro Ponto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ultimoPonto"><span jhiTranslate="nucleoApp.alvo.ultimoPonto">Ultimo Ponto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horarioLiberacao"><span jhiTranslate="nucleoApp.alvo.horarioLiberacao">Horario Liberacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horario"><span jhiTranslate="nucleoApp.alvo.horario">Horario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duracao"><span jhiTranslate="nucleoApp.alvo.duracao">Duracao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duracaoAtual"><span jhiTranslate="nucleoApp.alvo.duracaoAtual">Duracao Atual</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataDesativado"><span jhiTranslate="nucleoApp.alvo.dataDesativado">Data Desativado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coordenadasAlertaPontos"><span jhiTranslate="nucleoApp.alvo.coordenadasAlertaPontos">Coordenadas Alerta Pontos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coordenadasLiberacaoPontos"><span jhiTranslate="nucleoApp.alvo.coordenadasLiberacaoPontos">Coordenadas Liberacao Pontos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telegramTokenBot"><span jhiTranslate="nucleoApp.alvo.telegramTokenBot">Telegram Token Bot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telegramChatId"><span jhiTranslate="nucleoApp.alvo.telegramChatId">Telegram Chat Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horarioBloqueioNotificacao"><span jhiTranslate="nucleoApp.alvo.horarioBloqueioNotificacao">Horario Bloqueio Notificacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coordenadasOriginalPontos"><span jhiTranslate="nucleoApp.alvo.coordenadasOriginalPontos">Coordenadas Original Pontos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ativo"><span jhiTranslate="nucleoApp.alvo.ativo">Ativo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.alvo.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.alvo.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoId"><span jhiTranslate="nucleoApp.alvo.plano">Plano</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alvo of alvos ;trackBy: trackId">
                    <td><a [routerLink]="['/alvo', alvo.id, 'view']">{{ alvo.id }}</a></td>
                    <td>{{ alvo.nome }}</td>
                    <td>{{ alvo.nomeReduzido }}</td>
                    <td>{{ alvo.descricao }}</td>
                    <td>{{ alvo.primeiroPonto }}</td>
                    <td>{{ alvo.ultimoPonto }}</td>
                    <td>{{ alvo.horarioLiberacao | date:'medium' }}</td>
                    <td>{{ alvo.horario | date:'medium' }}</td>
                    <td>{{ alvo.duracao }}</td>
                    <td>{{ alvo.duracaoAtual }}</td>
                    <td>{{ alvo.dataDesativado | date:'medium' }}</td>
                    <td>{{ alvo.coordenadasAlertaPontos }}</td>
                    <td>{{ alvo.coordenadasLiberacaoPontos }}</td>
                    <td>{{ alvo.telegramTokenBot }}</td>
                    <td>{{ alvo.telegramChatId }}</td>
                    <td>{{ alvo.horarioBloqueioNotificacao | date:'medium' }}</td>
                    <td>{{ alvo.coordenadasOriginalPontos }}</td>
                    <td>{{ alvo.ativo }}</td>
                    <td>{{ alvo.created | date:'medium' }}</td>
                    <td>{{ alvo.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="alvo.planoId">
                            <a [routerLink]="['/plano', alvo.planoId , 'view']" >{{ alvo.planoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/alvo', alvo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/alvo', alvo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(alvo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="alvos && alvos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
