<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boletimPrevObs">
            <h2><span jhiTranslate="nucleoApp.boletimPrevObs.detail.title">Boletim Prev Obs</span> {{ boletimPrevObs.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.boletimPrevObs.nome">Nome</span></dt>
                <dd>
                    <span>{{ boletimPrevObs.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevObs.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ boletimPrevObs.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevObs.created">Created</span></dt>
                <dd>
                    <span>{{ boletimPrevObs.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevObs.updated">Updated</span></dt>
                <dd>
                    <span>{{ boletimPrevObs.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/boletim-prev-obs', boletimPrevObs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
