<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tempestadeProbabilidade">
            <h2><span jhiTranslate="nucleoApp.tempestadeProbabilidade.detail.title">Tempestade Probabilidade</span> {{ tempestadeProbabilidade.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.tempestadeProbabilidade.name">Name</span></dt>
                <dd>
                    <span>{{ tempestadeProbabilidade.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeProbabilidade.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ tempestadeProbabilidade.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeProbabilidade.faixa">Faixa</span></dt>
                <dd>
                    <span>{{ tempestadeProbabilidade.faixa }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeProbabilidade.created">Created</span></dt>
                <dd>
                    <span>{{ tempestadeProbabilidade.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.tempestadeProbabilidade.updated">Updated</span></dt>
                <dd>
                    <span>{{ tempestadeProbabilidade.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tempestade-probabilidade', tempestadeProbabilidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
