<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.tempestadeProbabilidade.home.title">Tempestade Probabilidades</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tempestade-probabilidade" [routerLink]="['/tempestade-probabilidade/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.tempestadeProbabilidade.home.createLabel">
            Create a new Tempestade Probabilidade
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tempestadeProbabilidades?.length === 0">
        <span jhiTranslate="nucleoApp.tempestadeProbabilidade.home.notFound">No tempestadeProbabilidades found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tempestadeProbabilidades && tempestadeProbabilidades.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.tempestadeProbabilidade.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.tempestadeProbabilidade.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="faixa"><span jhiTranslate="nucleoApp.tempestadeProbabilidade.faixa">Faixa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.tempestadeProbabilidade.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.tempestadeProbabilidade.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tempestadeProbabilidade of tempestadeProbabilidades ;trackBy: trackId">
                    <td><a [routerLink]="['/tempestade-probabilidade', tempestadeProbabilidade.id, 'view']">{{ tempestadeProbabilidade.id }}</a></td>
                    <td>{{ tempestadeProbabilidade.name }}</td>
                    <td>{{ tempestadeProbabilidade.descricao }}</td>
                    <td>{{ tempestadeProbabilidade.faixa }}</td>
                    <td>{{ tempestadeProbabilidade.created | date:'medium' }}</td>
                    <td>{{ tempestadeProbabilidade.updated | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tempestade-probabilidade', tempestadeProbabilidade.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tempestade-probabilidade', tempestadeProbabilidade.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tempestadeProbabilidade)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tempestadeProbabilidades && tempestadeProbabilidades.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
