<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.layer.home.title">Layers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-layer" [routerLink]="['/layer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.layer.home.createLabel">
            Create a new Layer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="layers?.length === 0">
        <span jhiTranslate="nucleoApp.layer.home.notFound">No layers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="layers && layers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.layer.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="nucleoApp.layer.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mapHost"><span jhiTranslate="nucleoApp.layer.mapHost">Map Host</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="layerType"><span jhiTranslate="nucleoApp.layer.layerType">Layer Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="nucleoApp.layer.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attribution"><span jhiTranslate="nucleoApp.layer.attribution">Attribution</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="workspace"><span jhiTranslate="nucleoApp.layer.workspace">Workspace</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="opacity"><span jhiTranslate="nucleoApp.layer.opacity">Opacity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="baselayer"><span jhiTranslate="nucleoApp.layer.baselayer">Baselayer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tiled"><span jhiTranslate="nucleoApp.layer.tiled">Tiled</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gwcActived"><span jhiTranslate="nucleoApp.layer.gwcActived">Gwc Actived</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span jhiTranslate="nucleoApp.layer.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enabled"><span jhiTranslate="nucleoApp.layer.enabled">Enabled</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.layer.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.layer.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let layer of layers ;trackBy: trackId">
                    <td><a [routerLink]="['/layer', layer.id, 'view']">{{ layer.id }}</a></td>
                    <td>{{ layer.name }}</td>
                    <td>{{ layer.description }}</td>
                    <td>{{ layer.mapHost }}</td>
                    <td jhiTranslate="{{ 'nucleoApp.LayerType.' + layer.layerType }}">{{ layer.layerType }}</td>
                    <td>{{ layer.title }}</td>
                    <td>{{ layer.attribution }}</td>
                    <td>{{ layer.workspace }}</td>
                    <td>{{ layer.opacity }}</td>
                    <td>{{ layer.baselayer }}</td>
                    <td>{{ layer.tiled }}</td>
                    <td>{{ layer.gwcActived }}</td>
                    <td>{{ layer.active }}</td>
                    <td>{{ layer.enabled }}</td>
                    <td>{{ layer.created | date:'medium' }}</td>
                    <td>{{ layer.updated | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/layer', layer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/layer', layer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(layer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="layers && layers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
