<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="informativo">
            <h2><span jhiTranslate="nucleoApp.informativo.detail.title">Informativo</span> {{ informativo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.informativo.nome">Nome</span></dt>
                <dd>
                    <span>{{ informativo.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ informativo.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.texto">Texto</span></dt>
                <dd>
                    <span>{{ informativo.texto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.qtdEmail">Qtd Email</span></dt>
                <dd>
                    <span>{{ informativo.qtdEmail }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.imagem">Imagem</span></dt>
                <dd>
                    <span>{{ informativo.imagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.arquivoEml">Arquivo Eml</span></dt>
                <dd>
                    <span>{{ informativo.arquivoEml }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.assunto">Assunto</span></dt>
                <dd>
                    <span>{{ informativo.assunto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.subAssunto">Sub Assunto</span></dt>
                <dd>
                    <span>{{ informativo.subAssunto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.created">Created</span></dt>
                <dd>
                    <span>{{ informativo.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.updated">Updated</span></dt>
                <dd>
                    <span>{{ informativo.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.informativo.planoRecurso">Plano Recurso</span></dt>
                <dd>
                    <div *ngIf="informativo.planoRecursoId">
                        <a [routerLink]="['/plano-recurso', informativo.planoRecursoId, 'view']">{{ informativo.planoRecursoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/informativo', informativo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
