<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.informativo.home.title">Informativos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-informativo" [routerLink]="['/informativo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.informativo.home.createLabel">
            Create a new Informativo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="informativos?.length === 0">
        <span jhiTranslate="nucleoApp.informativo.home.notFound">No informativos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="informativos && informativos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.informativo.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.informativo.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="texto"><span jhiTranslate="nucleoApp.informativo.texto">Texto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qtdEmail"><span jhiTranslate="nucleoApp.informativo.qtdEmail">Qtd Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagem"><span jhiTranslate="nucleoApp.informativo.imagem">Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arquivoEml"><span jhiTranslate="nucleoApp.informativo.arquivoEml">Arquivo Eml</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="assunto"><span jhiTranslate="nucleoApp.informativo.assunto">Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subAssunto"><span jhiTranslate="nucleoApp.informativo.subAssunto">Sub Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.informativo.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.informativo.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoRecursoId"><span jhiTranslate="nucleoApp.informativo.planoRecurso">Plano Recurso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let informativo of informativos ;trackBy: trackId">
                    <td><a [routerLink]="['/informativo', informativo.id, 'view']">{{ informativo.id }}</a></td>
                    <td>{{ informativo.nome }}</td>
                    <td>{{ informativo.descricao }}</td>
                    <td>{{ informativo.texto }}</td>
                    <td>{{ informativo.qtdEmail }}</td>
                    <td>{{ informativo.imagem }}</td>
                    <td>{{ informativo.arquivoEml }}</td>
                    <td>{{ informativo.assunto }}</td>
                    <td>{{ informativo.subAssunto }}</td>
                    <td>{{ informativo.created | date:'medium' }}</td>
                    <td>{{ informativo.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="informativo.planoRecursoId">
                            <a [routerLink]="['/plano-recurso', informativo.planoRecursoId , 'view']" >{{ informativo.planoRecursoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/informativo', informativo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/informativo', informativo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(informativo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="informativos && informativos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
