<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.meteograma.home.title">Meteogramas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meteograma" [routerLink]="['/meteograma/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.meteograma.home.createLabel">
            Create a new Meteograma
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="meteogramas?.length === 0">
        <span jhiTranslate="nucleoApp.meteograma.home.notFound">No meteogramas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="meteogramas && meteogramas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.meteograma.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.meteograma.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arquivo"><span jhiTranslate="nucleoApp.meteograma.arquivo">Arquivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="folder"><span jhiTranslate="nucleoApp.meteograma.folder">Folder</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoarquivo"><span jhiTranslate="nucleoApp.meteograma.tipoarquivo">Tipoarquivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.meteograma.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.meteograma.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoId"><span jhiTranslate="nucleoApp.meteograma.plano">Plano</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meteograma of meteogramas ;trackBy: trackId">
                    <td><a [routerLink]="['/meteograma', meteograma.id, 'view']">{{ meteograma.id }}</a></td>
                    <td>{{ meteograma.name }}</td>
                    <td>{{ meteograma.descricao }}</td>
                    <td>{{ meteograma.arquivo }}</td>
                    <td>{{ meteograma.folder }}</td>
                    <td>{{ meteograma.tipoarquivo }}</td>
                    <td>{{ meteograma.created | date:'medium' }}</td>
                    <td>{{ meteograma.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="meteograma.planoId">
                            <a [routerLink]="['/plano', meteograma.planoId , 'view']" >{{ meteograma.planoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/meteograma', meteograma.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/meteograma', meteograma.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(meteograma)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="meteogramas && meteogramas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
