<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.noticia.home.title">Noticias</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-noticia" [routerLink]="['/noticia/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.noticia.home.createLabel">
            Create a new Noticia
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="noticias?.length === 0">
        <span jhiTranslate="nucleoApp.noticia.home.notFound">No noticias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="noticias && noticias.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.noticia.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="texto"><span jhiTranslate="nucleoApp.noticia.texto">Texto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enviado"><span jhiTranslate="nucleoApp.noticia.enviado">Enviado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.noticia.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.noticia.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let noticia of noticias ;trackBy: trackId">
                    <td><a [routerLink]="['/noticia', noticia.id, 'view']">{{ noticia.id }}</a></td>
                    <td>{{ noticia.name }}</td>
                    <td>{{ noticia.texto }}</td>
                    <td>{{ noticia.enviado }}</td>
                    <td>{{ noticia.created | date:'medium' }}</td>
                    <td>{{ noticia.updated | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/noticia', noticia.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/noticia', noticia.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(noticia)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="noticias && noticias.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
