<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span jhiTranslate="nucleoApp.usuario.detail.title">Usuario</span> {{ usuario.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.usuario.name">Name</span></dt>
                <dd>
                    <span>{{ usuario.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ usuario.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.email">Email</span></dt>
                <dd>
                    <span>{{ usuario.email }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.senha">Senha</span></dt>
                <dd>
                    <span>{{ usuario.senha }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{ usuario.cnpj }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.cpf">Cpf</span></dt>
                <dd>
                    <span>{{ usuario.cpf }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.cep">Cep</span></dt>
                <dd>
                    <span>{{ usuario.cep }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.endereco">Endereco</span></dt>
                <dd>
                    <span>{{ usuario.endereco }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.numero">Numero</span></dt>
                <dd>
                    <span>{{ usuario.numero }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.bairro">Bairro</span></dt>
                <dd>
                    <span>{{ usuario.bairro }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.cidade">Cidade</span></dt>
                <dd>
                    <span>{{ usuario.cidade }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.estado">Estado</span></dt>
                <dd>
                    <span>{{ usuario.estado }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.telefone">Telefone</span></dt>
                <dd>
                    <span>{{ usuario.telefone }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.fax">Fax</span></dt>
                <dd>
                    <span>{{ usuario.fax }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.celular">Celular</span></dt>
                <dd>
                    <span>{{ usuario.celular }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.detalhe">Detalhe</span></dt>
                <dd>
                    <span>{{ usuario.detalhe }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.bloqueado">Bloqueado</span></dt>
                <dd>
                    <span>{{ usuario.bloqueado }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.complemento">Complemento</span></dt>
                <dd>
                    <span>{{ usuario.complemento }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.naoPodeExcluir">Nao Pode Excluir</span></dt>
                <dd>
                    <span>{{ usuario.naoPodeExcluir }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.ultimoAcesso">Ultimo Acesso</span></dt>
                <dd>
                    <span>{{ usuario.ultimoAcesso }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.senhaFirebase">Senha Firebase</span></dt>
                <dd>
                    <span>{{ usuario.senhaFirebase }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.created">Created</span></dt>
                <dd>
                    <span>{{ usuario.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.usuario.updated">Updated</span></dt>
                <dd>
                    <span>{{ usuario.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
