<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voceSabia">
            <h2><span jhiTranslate="nucleoApp.voceSabia.detail.title">Voce Sabia</span> {{ voceSabia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.voceSabia.name">Name</span></dt>
                <dd>
                    <span>{{ voceSabia.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.voceSabia.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ voceSabia.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.voceSabia.titulo">Titulo</span></dt>
                <dd>
                    <span>{{ voceSabia.titulo }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.voceSabia.texto">Texto</span></dt>
                <dd>
                    <span>{{ voceSabia.texto }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.voceSabia.imagem">Imagem</span></dt>
                <dd>
                    <span>{{ voceSabia.imagem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.voceSabia.created">Created</span></dt>
                <dd>
                    <span>{{ voceSabia.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.voceSabia.updated">Updated</span></dt>
                <dd>
                    <span>{{ voceSabia.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voce-sabia', voceSabia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
