<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="descargaTipo">
            <h2><span jhiTranslate="nucleoApp.descargaTipo.detail.title">Descarga Tipo</span> {{ descargaTipo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.descargaTipo.nome">Nome</span></dt>
                <dd>
                    <span>{{ descargaTipo.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaTipo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ descargaTipo.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaTipo.created">Created</span></dt>
                <dd>
                    <span>{{ descargaTipo.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaTipo.updated">Updated</span></dt>
                <dd>
                    <span>{{ descargaTipo.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/descarga-tipo', descargaTipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
