<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.boletimPrevisao.home.title">Boletim Previsaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-boletim-previsao" [routerLink]="['/boletim-previsao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.boletimPrevisao.home.createLabel">
            Create a new Boletim Previsao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="boletimPrevisaos?.length === 0">
        <span jhiTranslate="nucleoApp.boletimPrevisao.home.notFound">No boletimPrevisaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="boletimPrevisaos && boletimPrevisaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.boletimPrevisao.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.boletimPrevisao.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="local"><span jhiTranslate="nucleoApp.boletimPrevisao.local">Local</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imgCondicaoTempo"><span jhiTranslate="nucleoApp.boletimPrevisao.imgCondicaoTempo">Img Condicao Tempo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="nucleoApp.boletimPrevisao.observacao">Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="grupoOrdem"><span jhiTranslate="nucleoApp.boletimPrevisao.grupoOrdem">Grupo Ordem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ondas"><span jhiTranslate="nucleoApp.boletimPrevisao.ondas">Ondas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="temperaturaDe"><span jhiTranslate="nucleoApp.boletimPrevisao.temperaturaDe">Temperatura De</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="temperaturaAte"><span jhiTranslate="nucleoApp.boletimPrevisao.temperaturaAte">Temperatura Ate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ventovelocidademediakmh"><span jhiTranslate="nucleoApp.boletimPrevisao.ventovelocidademediakmh">Ventovelocidademediakmh</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ventosObservacao"><span jhiTranslate="nucleoApp.boletimPrevisao.ventosObservacao">Ventos Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ventoRajada"><span jhiTranslate="nucleoApp.boletimPrevisao.ventoRajada">Vento Rajada</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempestadeObservacao"><span jhiTranslate="nucleoApp.boletimPrevisao.tempestadeObservacao">Tempestade Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chuvaObservacao"><span jhiTranslate="nucleoApp.boletimPrevisao.chuvaObservacao">Chuva Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.boletimPrevisao.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.boletimPrevisao.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="boletimId"><span jhiTranslate="nucleoApp.boletimPrevisao.boletim">Boletim</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="boletimPrevObsId"><span jhiTranslate="nucleoApp.boletimPrevisao.boletimPrevObs">Boletim Prev Obs</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="intensidadeChuvaId"><span jhiTranslate="nucleoApp.boletimPrevisao.intensidadeChuva">Intensidade Chuva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="umidadeArId"><span jhiTranslate="nucleoApp.boletimPrevisao.umidadeAr">Umidade Ar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alvoId"><span jhiTranslate="nucleoApp.boletimPrevisao.alvo">Alvo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pontosCardeaisId"><span jhiTranslate="nucleoApp.boletimPrevisao.pontosCardeais">Pontos Cardeais</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ventoVmFaixaId"><span jhiTranslate="nucleoApp.boletimPrevisao.ventoVmFaixa">Vento Vm Faixa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempestadeProbabilidadeId"><span jhiTranslate="nucleoApp.boletimPrevisao.tempestadeProbabilidade">Tempestade Probabilidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempestadeNivelId"><span jhiTranslate="nucleoApp.boletimPrevisao.tempestadeNivel">Tempestade Nivel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acumuladoChuvaFaixaId"><span jhiTranslate="nucleoApp.boletimPrevisao.acumuladoChuvaFaixa">Acumulado Chuva Faixa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="condicaoTempoId"><span jhiTranslate="nucleoApp.boletimPrevisao.condicaoTempo">Condicao Tempo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let boletimPrevisao of boletimPrevisaos ;trackBy: trackId">
                    <td><a [routerLink]="['/boletim-previsao', boletimPrevisao.id, 'view']">{{ boletimPrevisao.id }}</a></td>
                    <td>{{ boletimPrevisao.nome }}</td>
                    <td>{{ boletimPrevisao.descricao }}</td>
                    <td>{{ boletimPrevisao.local }}</td>
                    <td>{{ boletimPrevisao.imgCondicaoTempo }}</td>
                    <td>{{ boletimPrevisao.observacao }}</td>
                    <td>{{ boletimPrevisao.grupoOrdem }}</td>
                    <td>{{ boletimPrevisao.ondas }}</td>
                    <td>{{ boletimPrevisao.temperaturaDe }}</td>
                    <td>{{ boletimPrevisao.temperaturaAte }}</td>
                    <td>{{ boletimPrevisao.ventovelocidademediakmh }}</td>
                    <td>{{ boletimPrevisao.ventosObservacao }}</td>
                    <td>{{ boletimPrevisao.ventoRajada }}</td>
                    <td>{{ boletimPrevisao.tempestadeObservacao }}</td>
                    <td>{{ boletimPrevisao.chuvaObservacao }}</td>
                    <td>{{ boletimPrevisao.created | date:'medium' }}</td>
                    <td>{{ boletimPrevisao.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="boletimPrevisao.boletimId">
                            <a [routerLink]="['/boletim', boletimPrevisao.boletimId , 'view']" >{{ boletimPrevisao.boletimId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.boletimPrevObsId">
                            <a [routerLink]="['/boletim-prev-obs', boletimPrevisao.boletimPrevObsId , 'view']" >{{ boletimPrevisao.boletimPrevObsId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.intensidadeChuvaId">
                            <a [routerLink]="['/intensidade-chuva', boletimPrevisao.intensidadeChuvaId , 'view']" >{{ boletimPrevisao.intensidadeChuvaId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.umidadeArId">
                            <a [routerLink]="['/umidade-ar', boletimPrevisao.umidadeArId , 'view']" >{{ boletimPrevisao.umidadeArId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.alvoId">
                            <a [routerLink]="['/alvo', boletimPrevisao.alvoId , 'view']" >{{ boletimPrevisao.alvoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.pontosCardeaisId">
                            <a [routerLink]="['/pontos-cardeais', boletimPrevisao.pontosCardeaisId , 'view']" >{{ boletimPrevisao.pontosCardeaisId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.ventoVmFaixaId">
                            <a [routerLink]="['/vento-vm-faixa', boletimPrevisao.ventoVmFaixaId , 'view']" >{{ boletimPrevisao.ventoVmFaixaId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.tempestadeProbabilidadeId">
                            <a [routerLink]="['/tempestade-probabilidade', boletimPrevisao.tempestadeProbabilidadeId , 'view']" >{{ boletimPrevisao.tempestadeProbabilidadeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.tempestadeNivelId">
                            <a [routerLink]="['/tempestade-nivel', boletimPrevisao.tempestadeNivelId , 'view']" >{{ boletimPrevisao.tempestadeNivelId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.acumuladoChuvaFaixaId">
                            <a [routerLink]="['/acumulado-chuva-faixa', boletimPrevisao.acumuladoChuvaFaixaId , 'view']" >{{ boletimPrevisao.acumuladoChuvaFaixaId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="boletimPrevisao.condicaoTempoId">
                            <a [routerLink]="['/condicao-tempo', boletimPrevisao.condicaoTempoId , 'view']" >{{ boletimPrevisao.condicaoTempoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/boletim-previsao', boletimPrevisao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/boletim-previsao', boletimPrevisao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(boletimPrevisao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="boletimPrevisaos && boletimPrevisaos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
