<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boletimPrevisao">
            <h2><span jhiTranslate="nucleoApp.boletimPrevisao.detail.title">Boletim Previsao</span> {{ boletimPrevisao.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.nome">Nome</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.local">Local</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.local }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.imgCondicaoTempo">Img Condicao Tempo</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.imgCondicaoTempo }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.condicaoTempo">Condicao Tempo</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.condicaoTempo }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.observacao">Observacao</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.observacao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.grupoOrdem">Grupo Ordem</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.grupoOrdem }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.ondas">Ondas</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.ondas }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.temperaturaDe">Temperatura De</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.temperaturaDe }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.temperaturaAte">Temperatura Ate</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.temperaturaAte }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.ventovelocidademediakmh">Ventovelocidademediakmh</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.ventovelocidademediakmh }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.ventosObservacao">Ventos Observacao</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.ventosObservacao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.ventoRajada">Vento Rajada</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.ventoRajada }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.tempestadeObservacao">Tempestade Observacao</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.tempestadeObservacao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.chuvaObservacao">Chuva Observacao</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.chuvaObservacao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.created">Created</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.updated">Updated</span></dt>
                <dd>
                    <span>{{ boletimPrevisao.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.boletim">Boletim</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.boletimId">
                        <a [routerLink]="['/boletim', boletimPrevisao.boletimId, 'view']">{{ boletimPrevisao.boletimId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.boletimPrevObs">Boletim Prev Obs</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.boletimPrevObsId">
                        <a [routerLink]="['/boletim-prev-obs', boletimPrevisao.boletimPrevObsId, 'view']">{{ boletimPrevisao.boletimPrevObsId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.intensidadeChuva">Intensidade Chuva</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.intensidadeChuvaId">
                        <a [routerLink]="['/intensidade-chuva', boletimPrevisao.intensidadeChuvaId, 'view']">{{ boletimPrevisao.intensidadeChuvaId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.umidadeAr">Umidade Ar</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.umidadeArId">
                        <a [routerLink]="['/umidade-ar', boletimPrevisao.umidadeArId, 'view']">{{ boletimPrevisao.umidadeArId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.alvo">Alvo</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.alvoId">
                        <a [routerLink]="['/alvo', boletimPrevisao.alvoId, 'view']">{{ boletimPrevisao.alvoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.pontosCardeais">Pontos Cardeais</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.pontosCardeaisId">
                        <a [routerLink]="['/pontos-cardeais', boletimPrevisao.pontosCardeaisId, 'view']">{{ boletimPrevisao.pontosCardeaisId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.ventoVmFaixa">Vento Vm Faixa</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.ventoVmFaixaId">
                        <a [routerLink]="['/vento-vm-faixa', boletimPrevisao.ventoVmFaixaId, 'view']">{{ boletimPrevisao.ventoVmFaixaId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.tempestadeProbabilidade">Tempestade Probabilidade</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.tempestadeProbabilidadeId">
                        <a [routerLink]="['/tempestade-probabilidade', boletimPrevisao.tempestadeProbabilidadeId, 'view']">{{ boletimPrevisao.tempestadeProbabilidadeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.tempestadeNivel">Tempestade Nivel</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.tempestadeNivelId">
                        <a [routerLink]="['/tempestade-nivel', boletimPrevisao.tempestadeNivelId, 'view']">{{ boletimPrevisao.tempestadeNivelId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.acumuladoChuvaFaixa">Acumulado Chuva Faixa</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.acumuladoChuvaFaixaId">
                        <a [routerLink]="['/acumulado-chuva-faixa', boletimPrevisao.acumuladoChuvaFaixaId, 'view']">{{ boletimPrevisao.acumuladoChuvaFaixaId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.boletimPrevisao.condicaoTempo">Condicao Tempo</span></dt>
                <dd>
                    <div *ngIf="boletimPrevisao.condicaoTempoId">
                        <a [routerLink]="['/condicao-tempo', boletimPrevisao.condicaoTempoId, 'view']">{{ boletimPrevisao.condicaoTempoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/boletim-previsao', boletimPrevisao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
