<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-boletim-previsao-heading" jhiTranslate="nucleoApp.boletimPrevisao.home.createOrEditLabel">Create or edit a Boletim Previsao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.local" for="field_local">Local</label>
                    <input type="text" class="form-control" name="local" id="field_local"
                           formControlName="local"/>
                    <div *ngIf="editForm.get('local')!.invalid && (editForm.get('local')!.dirty || editForm.get('local')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('local')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.imgCondicaoTempo" for="field_imgCondicaoTempo">Img Condicao Tempo</label>
                    <input type="number" class="form-control" name="imgCondicaoTempo" id="field_imgCondicaoTempo"
                           formControlName="imgCondicaoTempo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.condicaoTempo" for="field_condicaoTempo">Condicao Tempo</label>
                    <input type="text" class="form-control" name="condicaoTempo" id="field_condicaoTempo"
                           formControlName="condicaoTempo"/>
                    <div *ngIf="editForm.get('condicaoTempo')!.invalid && (editForm.get('condicaoTempo')!.dirty || editForm.get('condicaoTempo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('condicaoTempo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.observacao" for="field_observacao">Observacao</label>
                    <input type="text" class="form-control" name="observacao" id="field_observacao"
                           formControlName="observacao"/>
                    <div *ngIf="editForm.get('observacao')!.invalid && (editForm.get('observacao')!.dirty || editForm.get('observacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('observacao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.grupoOrdem" for="field_grupoOrdem">Grupo Ordem</label>
                    <input type="number" class="form-control" name="grupoOrdem" id="field_grupoOrdem"
                           formControlName="grupoOrdem"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.ondas" for="field_ondas">Ondas</label>
                    <input type="text" class="form-control" name="ondas" id="field_ondas"
                           formControlName="ondas"/>
                    <div *ngIf="editForm.get('ondas')!.invalid && (editForm.get('ondas')!.dirty || editForm.get('ondas')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ondas')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.temperaturaDe" for="field_temperaturaDe">Temperatura De</label>
                    <input type="number" class="form-control" name="temperaturaDe" id="field_temperaturaDe"
                           formControlName="temperaturaDe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.temperaturaAte" for="field_temperaturaAte">Temperatura Ate</label>
                    <input type="number" class="form-control" name="temperaturaAte" id="field_temperaturaAte"
                           formControlName="temperaturaAte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.ventovelocidademediakmh" for="field_ventovelocidademediakmh">Ventovelocidademediakmh</label>
                    <input type="number" class="form-control" name="ventovelocidademediakmh" id="field_ventovelocidademediakmh"
                           formControlName="ventovelocidademediakmh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.ventosObservacao" for="field_ventosObservacao">Ventos Observacao</label>
                    <input type="text" class="form-control" name="ventosObservacao" id="field_ventosObservacao"
                           formControlName="ventosObservacao"/>
                    <div *ngIf="editForm.get('ventosObservacao')!.invalid && (editForm.get('ventosObservacao')!.dirty || editForm.get('ventosObservacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ventosObservacao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.ventoRajada" for="field_ventoRajada">Vento Rajada</label>
                    <input type="checkbox" class="form-control" name="ventoRajada" id="field_ventoRajada"
                           formControlName="ventoRajada"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.tempestadeObservacao" for="field_tempestadeObservacao">Tempestade Observacao</label>
                    <input type="text" class="form-control" name="tempestadeObservacao" id="field_tempestadeObservacao"
                           formControlName="tempestadeObservacao"/>
                    <div *ngIf="editForm.get('tempestadeObservacao')!.invalid && (editForm.get('tempestadeObservacao')!.dirty || editForm.get('tempestadeObservacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tempestadeObservacao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.chuvaObservacao" for="field_chuvaObservacao">Chuva Observacao</label>
                    <input type="text" class="form-control" name="chuvaObservacao" id="field_chuvaObservacao"
                           formControlName="chuvaObservacao"/>
                    <div *ngIf="editForm.get('chuvaObservacao')!.invalid && (editForm.get('chuvaObservacao')!.dirty || editForm.get('chuvaObservacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('chuvaObservacao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.boletim" for="field_boletim">Boletim</label>
                    <select class="form-control" id="field_boletim" name="boletim" formControlName="boletimId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boletimOption.id" *ngFor="let boletimOption of boletims; trackBy: trackById">{{ boletimOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.boletimPrevObs" for="field_boletimPrevObs">Boletim Prev Obs</label>
                    <select class="form-control" id="field_boletimPrevObs" name="boletimPrevObs" formControlName="boletimPrevObsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boletimPrevObsOption.id" *ngFor="let boletimPrevObsOption of boletimprevobs; trackBy: trackById">{{ boletimPrevObsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.intensidadeChuva" for="field_intensidadeChuva">Intensidade Chuva</label>
                    <select class="form-control" id="field_intensidadeChuva" name="intensidadeChuva" formControlName="intensidadeChuvaId">
                        <option *ngIf="!editForm.get('intensidadeChuvaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="intensidadeChuvaOption.id" *ngFor="let intensidadeChuvaOption of intensidadechuvas; trackBy: trackById">{{ intensidadeChuvaOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('intensidadeChuvaId')!.invalid && (editForm.get('intensidadeChuvaId')!.dirty || editForm.get('intensidadeChuvaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('intensidadeChuvaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.umidadeAr" for="field_umidadeAr">Umidade Ar</label>
                    <select class="form-control" id="field_umidadeAr" name="umidadeAr" formControlName="umidadeArId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="umidadeArOption.id" *ngFor="let umidadeArOption of umidadears; trackBy: trackById">{{ umidadeArOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.alvo" for="field_alvo">Alvo</label>
                    <select class="form-control" id="field_alvo" name="alvo" formControlName="alvoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alvoOption.id" *ngFor="let alvoOption of alvos; trackBy: trackById">{{ alvoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.ventosOrigemPontosCardeais" for="field_ventosOrigemPontosCardeais">Ventos Origem Pontos Cardeais</label>
                    <select class="form-control" id="field_ventosOrigemPontosCardeais" name="ventosOrigemPontosCardeais" formControlName="ventosOrigemPontosCardeaisId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pontosCardeaisOption.id" *ngFor="let pontosCardeaisOption of pontoscardeais; trackBy: trackById">{{ pontosCardeaisOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.ventoRajadaVentoVmFaixa" for="field_ventoRajadaVentoVmFaixa">Vento Rajada Vento Vm Faixa</label>
                    <select class="form-control" id="field_ventoRajadaVentoVmFaixa" name="ventoRajadaVentoVmFaixa" formControlName="ventoRajadaVentoVmFaixaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ventoVmFaixaOption.id" *ngFor="let ventoVmFaixaOption of ventovmfaixas; trackBy: trackById">{{ ventoVmFaixaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.tempestadeProbabilidade" for="field_tempestadeProbabilidade">Tempestade Probabilidade</label>
                    <select class="form-control" id="field_tempestadeProbabilidade" name="tempestadeProbabilidade" formControlName="tempestadeProbabilidadeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tempestadeProbabilidadeOption.id" *ngFor="let tempestadeProbabilidadeOption of tempestadeprobabilidades; trackBy: trackById">{{ tempestadeProbabilidadeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.tempestadeNivel" for="field_tempestadeNivel">Tempestade Nivel</label>
                    <select class="form-control" id="field_tempestadeNivel" name="tempestadeNivel" formControlName="tempestadeNivelId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tempestadeNivelOption.id" *ngFor="let tempestadeNivelOption of tempestadenivels; trackBy: trackById">{{ tempestadeNivelOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.acumuladoChuvaFaixa" for="field_acumuladoChuvaFaixa">Acumulado Chuva Faixa</label>
                    <select class="form-control" id="field_acumuladoChuvaFaixa" name="acumuladoChuvaFaixa" formControlName="acumuladoChuvaFaixaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="acumuladoChuvaFaixaOption.id" *ngFor="let acumuladoChuvaFaixaOption of acumuladochuvafaixas; trackBy: trackById">{{ acumuladoChuvaFaixaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.boletimPrevisao.condicaoTempo" for="field_condicaoTempo">Condicao Tempo</label>
                    <select class="form-control" id="field_condicaoTempo" name="condicaoTempo" formControlName="condicaoTempoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="condicaoTempoOption.id" *ngFor="let condicaoTempoOption of condicaotempos; trackBy: trackById">{{ condicaoTempoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
