<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.recurso.home.title">Recursos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recurso" [routerLink]="['/recurso/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.recurso.home.createLabel">
            Create a new Recurso
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recursos?.length === 0">
        <span jhiTranslate="nucleoApp.recurso.home.notFound">No recursos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recursos && recursos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nucleoApp.recurso.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="nucleoApp.recurso.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ativo"><span jhiTranslate="nucleoApp.recurso.ativo">Ativo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.recurso.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.recurso.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recursoTipoId"><span jhiTranslate="nucleoApp.recurso.recursoTipo">Recurso Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="variavelMeteorologicaId"><span jhiTranslate="nucleoApp.recurso.variavelMeteorologica">Variavel Meteorologica</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recurso of recursos ;trackBy: trackId">
                    <td><a [routerLink]="['/recurso', recurso.id, 'view']">{{ recurso.id }}</a></td>
                    <td>{{ recurso.name }}</td>
                    <td>{{ recurso.descricao }}</td>
                    <td>{{ recurso.ativo }}</td>
                    <td>{{ recurso.created | date:'medium' }}</td>
                    <td>{{ recurso.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="recurso.recursoTipoId">
                            <a [routerLink]="['/recurso-tipo', recurso.recursoTipoId , 'view']" >{{ recurso.recursoTipoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="recurso.variavelMeteorologicaId">
                            <a [routerLink]="['/variavel-meteorologica', recurso.variavelMeteorologicaId , 'view']" >{{ recurso.variavelMeteorologicaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recurso', recurso.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recurso', recurso.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recurso)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="recursos && recursos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
