<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recurso">
            <h2><span jhiTranslate="nucleoApp.recurso.detail.title">Recurso</span> {{ recurso.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.recurso.name">Name</span></dt>
                <dd>
                    <span>{{ recurso.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recurso.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ recurso.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recurso.ativo">Ativo</span></dt>
                <dd>
                    <span>{{ recurso.ativo }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recurso.created">Created</span></dt>
                <dd>
                    <span>{{ recurso.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recurso.updated">Updated</span></dt>
                <dd>
                    <span>{{ recurso.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recurso.recursoTipo">Recurso Tipo</span></dt>
                <dd>
                    <div *ngIf="recurso.recursoTipoId">
                        <a [routerLink]="['/recurso-tipo', recurso.recursoTipoId, 'view']">{{ recurso.recursoTipoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recurso.variavelMeteorologica">Variavel Meteorologica</span></dt>
                <dd>
                    <div *ngIf="recurso.variavelMeteorologicaId">
                        <a [routerLink]="['/variavel-meteorologica', recurso.variavelMeteorologicaId, 'view']">{{ recurso.variavelMeteorologicaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recurso', recurso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
