<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="descargaUnidade">
            <h2><span jhiTranslate="nucleoApp.descargaUnidade.detail.title">Descarga Unidade</span> {{ descargaUnidade.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.descargaUnidade.nome">Nome</span></dt>
                <dd>
                    <span>{{ descargaUnidade.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaUnidade.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ descargaUnidade.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaUnidade.unidade">Unidade</span></dt>
                <dd>
                    <span>{{ descargaUnidade.unidade }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaUnidade.created">Created</span></dt>
                <dd>
                    <span>{{ descargaUnidade.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.descargaUnidade.updated">Updated</span></dt>
                <dd>
                    <span>{{ descargaUnidade.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/descarga-unidade', descargaUnidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
