<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recursoTemplate">
            <h2><span jhiTranslate="nucleoApp.recursoTemplate.detail.title">Recurso Template</span> {{ recursoTemplate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.name">Name</span></dt>
                <dd>
                    <span>{{ recursoTemplate.name }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ recursoTemplate.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.template">Template</span></dt>
                <dd>
                    <span>{{ recursoTemplate.template }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.created">Created</span></dt>
                <dd>
                    <span>{{ recursoTemplate.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.updated">Updated</span></dt>
                <dd>
                    <span>{{ recursoTemplate.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.recurso">Recurso</span></dt>
                <dd>
                    <div *ngIf="recursoTemplate.recursoId">
                        <a [routerLink]="['/recurso', recursoTemplate.recursoId, 'view']">{{ recursoTemplate.recursoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.tipoEnvio">Tipo Envio</span></dt>
                <dd>
                    <div *ngIf="recursoTemplate.tipoEnvioId">
                        <a [routerLink]="['/tipo-envio', recursoTemplate.tipoEnvioId, 'view']">{{ recursoTemplate.tipoEnvioId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.recursoTemplate.alertaTipo">Alerta Tipo</span></dt>
                <dd>
                    <div *ngIf="recursoTemplate.alertaTipoId">
                        <a [routerLink]="['/alerta-tipo', recursoTemplate.alertaTipoId, 'view']">{{ recursoTemplate.alertaTipoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recurso-template', recursoTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
