<div>
    <h2 id="page-heading">
        <span jhiTranslate="nucleoApp.avisoMeteorologico.home.title">Aviso Meteorologicos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aviso-meteorologico" [routerLink]="['/aviso-meteorologico/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nucleoApp.avisoMeteorologico.home.createLabel">
            Create a new Aviso Meteorologico
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="avisoMeteorologicos?.length === 0">
        <span jhiTranslate="nucleoApp.avisoMeteorologico.home.notFound">No avisoMeteorologicos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="avisoMeteorologicos && avisoMeteorologicos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="nucleoApp.avisoMeteorologico.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="assunto"><span jhiTranslate="nucleoApp.avisoMeteorologico.assunto">Assunto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inicio"><span jhiTranslate="nucleoApp.avisoMeteorologico.inicio">Inicio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fim"><span jhiTranslate="nucleoApp.avisoMeteorologico.fim">Fim</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="texto"><span jhiTranslate="nucleoApp.avisoMeteorologico.texto">Texto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagem"><span jhiTranslate="nucleoApp.avisoMeteorologico.imagem">Imagem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagemAssinatura"><span jhiTranslate="nucleoApp.avisoMeteorologico.imagemAssinatura">Imagem Assinatura</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="nucleoApp.avisoMeteorologico.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updated"><span jhiTranslate="nucleoApp.avisoMeteorologico.updated">Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planoRecursoId"><span jhiTranslate="nucleoApp.avisoMeteorologico.planoRecurso">Plano Recurso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let avisoMeteorologico of avisoMeteorologicos ;trackBy: trackId">
                    <td><a [routerLink]="['/aviso-meteorologico', avisoMeteorologico.id, 'view']">{{ avisoMeteorologico.id }}</a></td>
                    <td>{{ avisoMeteorologico.nome }}</td>
                    <td>{{ avisoMeteorologico.assunto }}</td>
                    <td>{{ avisoMeteorologico.inicio | date:'medium' }}</td>
                    <td>{{ avisoMeteorologico.fim | date:'medium' }}</td>
                    <td>{{ avisoMeteorologico.texto }}</td>
                    <td>{{ avisoMeteorologico.imagem }}</td>
                    <td>{{ avisoMeteorologico.imagemAssinatura }}</td>
                    <td>{{ avisoMeteorologico.created | date:'medium' }}</td>
                    <td>{{ avisoMeteorologico.updated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="avisoMeteorologico.planoRecursoId">
                            <a [routerLink]="['/plano-recurso', avisoMeteorologico.planoRecursoId , 'view']" >{{ avisoMeteorologico.planoRecursoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aviso-meteorologico', avisoMeteorologico.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aviso-meteorologico', avisoMeteorologico.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(avisoMeteorologico)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="avisoMeteorologicos && avisoMeteorologicos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
