<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-aviso-meteorologico-heading" jhiTranslate="nucleoApp.avisoMeteorologico.home.createOrEditLabel">Create or edit a Aviso Meteorologico</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.assunto" for="field_assunto">Assunto</label>
                    <input type="text" class="form-control" name="assunto" id="field_assunto"
                           formControlName="assunto"/>
                    <div *ngIf="editForm.get('assunto')!.invalid && (editForm.get('assunto')!.dirty || editForm.get('assunto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('assunto')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.inicio" for="field_inicio">Inicio</label>
                    <div class="d-flex">
                        <input id="field_inicio" type="datetime-local" class="form-control" name="inicio" formControlName="inicio" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('inicio')!.invalid && (editForm.get('inicio')!.dirty || editForm.get('inicio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('inicio')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('inicio')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.fim" for="field_fim">Fim</label>
                    <div class="d-flex">
                        <input id="field_fim" type="datetime-local" class="form-control" name="fim" formControlName="fim" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fim')!.invalid && (editForm.get('fim')!.dirty || editForm.get('fim')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fim')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fim')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.texto" for="field_texto">Texto</label>
                    <input type="text" class="form-control" name="texto" id="field_texto"
                           formControlName="texto"/>
                    <div *ngIf="editForm.get('texto')!.invalid && (editForm.get('texto')!.dirty || editForm.get('texto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('texto')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('texto')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.imagem" for="field_imagem">Imagem</label>
                    <input type="text" class="form-control" name="imagem" id="field_imagem"
                           formControlName="imagem"/>
                    <div *ngIf="editForm.get('imagem')!.invalid && (editForm.get('imagem')!.dirty || editForm.get('imagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imagem')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imagem')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.imagemAssinatura" for="field_imagemAssinatura">Imagem Assinatura</label>
                    <input type="text" class="form-control" name="imagemAssinatura" id="field_imagemAssinatura"
                           formControlName="imagemAssinatura"/>
                    <div *ngIf="editForm.get('imagemAssinatura')!.invalid && (editForm.get('imagemAssinatura')!.dirty || editForm.get('imagemAssinatura')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imagemAssinatura')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('created')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nucleoApp.avisoMeteorologico.planoRecurso" for="field_planoRecurso">Plano Recurso</label>
                    <select class="form-control" id="field_planoRecurso" name="planoRecurso" formControlName="planoRecursoId">
                        <option *ngIf="!editForm.get('planoRecursoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="planoRecursoOption.id" *ngFor="let planoRecursoOption of planorecursos; trackBy: trackById">{{ planoRecursoOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('planoRecursoId')!.invalid && (editForm.get('planoRecursoId')!.dirty || editForm.get('planoRecursoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('planoRecursoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
