<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contatoTipoEnvio">
            <h2><span jhiTranslate="nucleoApp.contatoTipoEnvio.detail.title">Contato Tipo Envio</span> {{ contatoTipoEnvio.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.contatoTipoEnvio.nome">Nome</span></dt>
                <dd>
                    <span>{{ contatoTipoEnvio.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.contatoTipoEnvio.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ contatoTipoEnvio.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.contatoTipoEnvio.created">Created</span></dt>
                <dd>
                    <span>{{ contatoTipoEnvio.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.contatoTipoEnvio.updated">Updated</span></dt>
                <dd>
                    <span>{{ contatoTipoEnvio.updated }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.contatoTipoEnvio.contato">Contato</span></dt>
                <dd>
                    <div *ngIf="contatoTipoEnvio.contatoId">
                        <a [routerLink]="['/contato', contatoTipoEnvio.contatoId, 'view']">{{ contatoTipoEnvio.contatoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nucleoApp.contatoTipoEnvio.tipoEnvio">Tipo Envio</span></dt>
                <dd>
                    <div *ngIf="contatoTipoEnvio.tipoEnvioId">
                        <a [routerLink]="['/tipo-envio', contatoTipoEnvio.tipoEnvioId, 'view']">{{ contatoTipoEnvio.tipoEnvioId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contato-tipo-envio', contatoTipoEnvio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
