<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="avisoTipo">
            <h2><span jhiTranslate="nucleoApp.avisoTipo.detail.title">Aviso Tipo</span> {{ avisoTipo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nucleoApp.avisoTipo.nome">Nome</span></dt>
                <dd>
                    <span>{{ avisoTipo.nome }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.avisoTipo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ avisoTipo.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.avisoTipo.created">Created</span></dt>
                <dd>
                    <span>{{ avisoTipo.created }}</span>
                </dd>
                <dt><span jhiTranslate="nucleoApp.avisoTipo.updated">Updated</span></dt>
                <dd>
                    <span>{{ avisoTipo.updated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aviso-tipo', avisoTipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
